<header class="header">
  <div class="header__main">
    <div class="header__container">
      <a href="./index.html" class="custom-logo-link">
        <img src="./img/icons/logo.svg" alt="Logo" />
      </a>

      <load src="partials/header/parts/navmenu.html" />

      <button type="button" class="burger">
        <div class="burger__box">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
    </div>
  </div>

  <load src="partials/header/parts/mobmenu.html" />
</header>
