<div class="banner">
  <style>
    .carsePartF {
      animation: animateF 30s -30s linear infinite;
    }
    .carsePartS {
      animation: animateS 30s -15s linear infinite;
    }
  </style>

  <div class="banner__carousell" data-speed="3">
    <ul class="banner__list carsePartF">
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann1.svg" alt="" />
          </span>
          <p>Гарантуємо підтримку</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann2.svg" alt="" />
          </span>
          <p>Гарантуємо успіх</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann3.svg" alt="" />
          </span>
          <p>Кваліфіковані лікарі</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann4.svg" alt="" />
          </span>
          <p>Рухаємося разом до цілі</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann5.svg" alt="" />
          </span>
          <p>Досліджуйте себе</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann6.svg" alt="" />
          </span>
          <p>Належні умови</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann1.svg" alt="" />
          </span>
          <p>Якісна допомога</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann2.svg" alt="" />
          </span>
          <p>Статеве виховання</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann3.svg" alt="" />
          </span>
          <p>Репродуктивне здоров’я</p>
        </div>
      </li>
    </ul>

    <ul class="banner__list carsePartS">
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann1.svg" alt="" />
          </span>
          <p>Гарантуємо підтримку</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann2.svg" alt="" />
          </span>
          <p>Гарантуємо успіх</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann3.svg" alt="" />
          </span>
          <p>Кваліфіковані лікарі</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann4.svg" alt="" />
          </span>
          <p>Рухаємося разом до цілі</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann5.svg" alt="" />
          </span>
          <p>Досліджуйте себе</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann6.svg" alt="" />
          </span>
          <p>Належні умови</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann1.svg" alt="" />
          </span>
          <p>Якісна допомога</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann2.svg" alt="" />
          </span>
          <p>Статеве виховання</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann3.svg" alt="" />
          </span>
          <p>Репродуктивне здоров’я</p>
        </div>
      </li>
    </ul>
  </div>
</div>
