<section class="mailing">
  <div class="mailing__container">
    <div class="mailing__img no-select">
      <img src="./img/icons/tl_ic7.svg" alt="" class="stl-img no-select" />
    </div>
    <div class="mailing__content">
      <h2 class="title2">Розсилка новин</h2>
      <div class="mailing__text">
        <p>
          Не пропустіть важливі новини та надихаючі історії! Підпишіться на нашу
          розсилку, щоб бути в курсі всіх оновлень.
        </p>
      </div>
      <form class="mailing__form">
        <label class="mailing__label">
          <p>Ваш Email</p>
          <input
            type="email"
            name="mailing-email"
            placeholder="example234@gmail.com"
          />
          <span class="require"></span>
        </label>
        <label class="mailing__checkbox">
          <input type="checkbox" name="mailing-check" />
          <span></span>
          <p>
            Натискаючи Підписатись, ви автоматично погоджуєтеся з
            нашою Політикою конфіденційності
          </p>
        </label>
        <button type="submit" class="btn-def">Підписатись</button>
      </form>
    </div>
  </div>
</section>
