<div class="modal" id="signupForm">
  <div class="modal__container containerModal">
    <div class="modal__body">
      <button type="button" class="modal__close closeModal">
        <img src="./img/icons/close.svg" alt="Close" />
      </button>

      <div class="modal__wrapp">
        <!-- <div class="modal__part1 stepModal"> -->
        <div class="modal__part1">
          <h3 class="title3">Форма реєстрації</h3>
          <div class="modal__text">
            <p>
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>

          <form class="modal__form">
            <div class="modal__box">
              <!-- <label class="label-def isRequire"> -->
              <label class="label-def">
                <p>Імʼя та прізвище</p>
                <span class="input-def">
                  <input
                    type="text"
                    name="signup-name"
                    placeholder="Пишіть тут"
                  />
                </span>
              </label>
              <label class="label-def">
                <p>Номер телефону</p>
                <span class="input-def">
                  <input
                    type="tel"
                    name="signup-tel"
                    placeholder="+38 (000) 000 00 00"
                  />
                </span>
              </label>
              <label class="label-def">
                <p>Ваш Email</p>
                <span class="input-def">
                  <input
                    type="email"
                    name="signup-tel"
                    placeholder="example234@gmail.com"
                  />
                </span>
              </label>
            </div>

            <button type="submit" class="btn-def">Зареєструватись</button>
          </form>

          <p class="modal__agree">
            Натискаючи Зареєструватись, ви автоматично погоджуєтеся з нашою
            <a href="./policy.html" target="_blank">
              Політикою конфіденційності
            </a>
          </p>
        </div>

        <!-- <div class="modal__part2 stepModal"> -->
        <div class="modal__part2 stepModal">
          <h3 class="title3">Успішно!</h3>
          <div class="modal__img">
            <img src="./img/decor/signup.png" alt="" />
          </div>
          <div class="modal__text">
            <p>
              Ви успішно зареєструвалися на подію. Деталі заходу надіслано на
              вашу електронну пошту. Чекаємо вас на заході!
            </p>
          </div>
          <button type="button" class="btn-def closeModal">Зрозуміло</button>
        </div>
      </div>
    </div>
  </div>
</div>
