<section class="tenderhome sec-pd1">
  <div class="tenderhome__container">
    <div class="heading-btn">
      <div class="heading-btn__inf">
        <h2 class="title2">АКТУАЛЬНІ ТЕНДЕРИ</h2>
      </div>

      <ul class="tenderhome__cards">
        <li class="tenderhome__card">
          <div class="proj-card__headline">
            <p class="itm-navy">Прийом заявок до: <span>24.04.24</span></p>
            <p class="itm-red"><span>Актуальний</span></p>
          </div>
          <a href="./tender.html" class="title4">
            Постачальників комп’ютерного обладнання на умовах тендеру
          </a>
          <a href="./tender.html" class="tenderhome__btns">
            <span class="btn-def">Детальніше</span>
            <span class="tenderhome__vec"></span>
          </a>
        </li>
        <li class="tenderhome__card">
          <div class="proj-card__headline">
            <p class="itm-navy">Прийом заявок до: <span>24.04.24</span></p>
            <p class="itm-red"><span>Актуальний</span></p>
          </div>
          <a href="./tender.html" class="title4">
            Послуги зі створення номеру безкоштовної «гарячої» лінії у наданні
            допомоги у сфері СРЗ та ГЗН
          </a>
          <a href="./tender.html" class="tenderhome__btns">
            <span class="btn-def">Детальніше</span>
            <span class="tenderhome__vec"></span>
          </a>
        </li>
        <li class="tenderhome__card">
          <div class="proj-card__headline">
            <p class="itm-navy">Прийом заявок до: <span>24.04.24</span></p>
            <p class="itm-red"><span>Актуальний</span></p>
          </div>
          <a href="./tender.html" class="title4">
            Постачальників виробів медичного призначення на умовах тендеру
          </a>
          <a href="./tender.html" class="tenderhome__btns">
            <span class="btn-def">Детальніше</span>
            <span class="tenderhome__vec"></span>
          </a>
        </li>
      </ul>

      <a href="./tenders.html" class="btn-def">Всі Тендери</a>
    </div>
  </div>
</section>
