<section class="policy first-sec">
  <div class="policy__container">
    <div class="article">
      <h1 class="title1 tl-img">
        Політика
        <img src="./img/icons/tl_ic7.svg" alt="Icon" />
        конфіденційності
      </h1>

      <div class="article__main">
        <div class="article__sidebar"></div>
        <div class="article__content embeded">
          <h3>01. Вступ</h3>
          <h4>
            Фонд надає високого значення та цінності конфіденційності та поважає
            конфіденційність своїх волонтерів, членів керівних та наглядових
            органів, співробітників, бенефіціарів, скаржників та партнерських
            організацій.
          </h4>
          <p>
            1.2. Фонд визнає, що йому потрібно забезпечити захист та безпечну
            обробку особистої та конфіденційної ділової інформації, яку Фонд
            збирає, створює, обробляє та поширює.
          </p>
          <p>
            1.3. Фонд також розуміє важливість поширення інформації там, де це
            потрібно або доречно для виконання своїх обов'язків щодо
            забезпечення захисту та безпеки.
          </p>
          <p>
            1.4. Ця політика має на меті визначити керівні принципи та цінності,
            що застосовуються до всіх елементів Фонду (Загальні Збори Фонду,
            Правління та Наглядова Рада Фонду, персонал).
          </p>

          <h3>02. Призначення та сфера застосування</h3>
          <p>
            2.1. Метою цієї політики є визначення керівних принципів Фонду щодо
            захисту конфіденційної інформації та відповідальності за поширення
            такої інформації.
          </p>
          <p>
            2.2. Ця політика застосовується до всіх волонтерів, співробітників1
            Фонду, членів керівних та наглядових органів Фонду, партнерських
            організацій. Усі партнерські організації, що працюють з Фондом,
            зобов'язані дотримуватися цієї Політики на додаток до власних
            політик та процедур.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
