.library {
  padding-top: 8rem;

  &__container {
  }
  &__main {
    display: grid;
    grid-template-columns: 19rem 1fr;
    gap: 1rem;
  }

  &__wrapp {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1.5rem;
  }
  &__part {
    p {
      color: var(--cf2);
      font-size: 0.75rem;
      font-weight: 600;
      line-height: 1.33;
      margin-bottom: 0.75rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  &__cards {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem 1rem;
  }
}

.library__sidebar {
  position: relative;
  padding-bottom: 6rem;

  .bg-page {
    display: none;
  }
}
.library__sidebar-body {
  position: sticky;
  top: 8rem;
}
.library__apply {
  display: none;
}
.filter__open {
  display: none;
}
.library__filters {
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  border: 0.0625rem solid var(--cl);
  background-color: var(--cw);

  .facetwp-reset {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    border-radius: 2rem;
    border: 0.0625rem solid var(--cl);
    background-color: var(--cw);
    padding: 0.875rem 1.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.42;
    transition: all 0.15s ease-in;

    &::after {
      content: "";
      flex-shrink: 0;
      width: 1rem;
      height: 1rem;
      background-size: 1rem 1rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: var(--trashDef);
      transition: all 0.15s ease-in;
    }
    &:hover {
      background-color: var(--cr);
      border-color: var(--cr);
      color: var(--cw);
      &::after {
        background-image: var(--trashHv);
      }
    }
    &.inActive {
      cursor: no-drop;
      background-color: var(--cw) !important;
      border-color: var(--cl) !important;
      color: var(--cg) !important;
      &::after {
        background-image: var(--trashInActive) !important;
      }
    }
  }

  .facetwp-facet {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
  }

  .facetwp-checkbox,
  .facetwp-radio {
    cursor: pointer;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 0.5rem;
    &.checked {
      .facetwp-display-value {
        color: var(--cr);
      }
      .facetwp-counter {
        color: var(--cm);
      }
    }
    &:hover {
      .facetwp-display-value {
        color: var(--cr);
      }
      .facetwp-counter {
        color: var(--cm);
      }
    }
  }
  .facetwp-checkbox {
    .facetwp-display-value {
      &::before {
        background-image: var(--checkBoxDef);
      }
    }
    &.checked {
      .facetwp-display-value {
        &::before {
          background-image: var(--checkBoxCh) !important;
        }
      }
    }
    &:hover {
      .facetwp-display-value {
        &::before {
          background-image: var(--checkBoxHv);
        }
      }
    }
  }
  .facetwp-radio {
    .facetwp-display-value {
      &::before {
        background-image: var(--checkRadioDef);
      }
    }
    &.checked {
      .facetwp-display-value {
        &::before {
          background-image: var(--checkRadioCh) !important;
        }
      }
    }
    &:hover {
      .facetwp-display-value {
        &::before {
          background-image: var(--checkRadioHv);
        }
      }
    }
  }

  .facetwp-display-value {
    display: flex;
    align-items: start;
    gap: 0.5rem;
    transition: all 0.15s ease-in;

    &::before {
      content: "";
      position: relative;
      top: -0.2rem;
      flex-shrink: 0;
      width: 1.5rem;
      height: 1.5rem;
      background-size: 1.5rem 1.5rem;
      background-position: center center;
      background-repeat: no-repeat;
      transition: all 0.15s ease-in;
    }
  }
  .facetwp-counter {
    position: relative;
    top: 0.35rem;
    color: var(--cf2);
    font-size: 0.75rem;
    line-height: 1.33;
    transition: all 0.15s ease-in;
  }
}

.libr-card {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 2 * 1rem) / 3);
  border-radius: 1rem;
  border: 0.0625rem solid var(--cl);
  background-color: var(--cw);
  overflow: hidden;
  transition: all 0.15s ease-in;

  &:hover {
    box-shadow: 0 2.3125rem 2.3125rem 0 rgba(0, 0, 0, 0.03);
  }

  &__box {
    position: relative;
    overflow: hidden;
    padding-top: 66.7%;

    &:hover {
      .libr-card__review {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__heading {
    position: absolute;
    z-index: 5;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: calc(100% - 2rem);

    p {
      background-color: var(--cw);
      border-radius: 2rem;
      padding: 0.5rem 0.75rem 0.4rem 0.75rem;
      font-size: 0.75rem;
      font-weight: 600;
      line-height: 1.33;
    }
  }
  &__img {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__review {
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(23, 23, 23, 0.32);
    transition: all 0.15s ease-in;
    opacity: 0;
    visibility: hidden;

    a {
      padding: 0.75rem 1.5rem;
      border-radius: 2rem;
      background-color: var(--cw);
      font-weight: 600;
      transition: all 0.15s ease-in;

      &:hover {
        background-color: var(--cr);
        border-color: var(--cr);
        color: var(--cw);
      }
    }
  }

  &__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem 1.375rem 1rem;
  }
  &__name {
    flex: 1 1 auto;
    margin-bottom: 0.75rem;

    a {
      width: fit-content;
      display: block;
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 1.33;
    }
  }
  &__desc {
    display: flex;
    align-items: start;
    gap: 0.5rem;

    a {
      color: var(--cf2);
      font-size: 0.75rem;
      line-height: 1.33;
      text-decoration: underline;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
    }

    &::before {
      content: "";
      position: relative;
      top: -0.13rem;
      flex-shrink: 0;
      width: 1rem;
      height: 1rem;
      background-size: 1rem 1rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: var(--linkLibr);
    }
  }

  .rep-card__def {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 3rem;
      height: 3rem;
    }
  }
}

@media screen and (max-width: 960px) {
  .library {
    padding-top: 4rem;

    &__main {
      grid-template-columns: 1fr;
      gap: 0;
    }
    &__wrapp {
      margin-top: 0;
    }

    &__cards {
      gap: 1rem;
    }

    .filtercont {
      display: flex;
      flex-direction: column;

      .filter__type {
        max-width: 100%;
      }
      .nice-select {
        padding: 0.75rem 1.5rem;
      }
    }
  }

  .filter__open {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    font-weight: 600;
    width: 100%;
    padding: 0.75rem 1.5rem;
    border-radius: 0.75rem;
    border: 0.0625rem solid var(--cm);
    background-color: var(--cw);

    span {
      position: relative;
      top: 0.08rem;
    }
    &::after {
      content: "";
      flex-shrink: 0;
      width: 1.5rem;
      height: 1.5rem;
      background-size: 1.5rem 1.5rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: var(--filterSet);
    }
  }
  .library__sidebar {
    padding-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    height: 100vh;
    background-color: var(--cw2);
    display: flex;
    flex-direction: column;
    transform: translateY(-100%);

    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;

    .filter__open {
      border-color: var(--cl);
      color: var(--cg);
      &::after {
        background-image: var(--filterClose);
      }
    }

    .bg-page {
      display: block;
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
    }
    &.isOpened {
      transform: translateY(0);
      .bg-page {
        height: 50.75rem;
      }
    }
  }
  .library__sidebar-body {
    position: sticky;
    top: 0;
    overflow-y: auto;
    padding: 1.5rem 1rem 2.125rem 1rem;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    -webkit-overflow-scrolling: touch;
  }
  .library__panel {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  .library__apply {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    font-weight: 600;
    border-radius: 2rem;
    background-color: var(--cr);
    color: var(--cw);
    padding: 0.75rem 1.5rem 0.7rem 1.5rem;
    border: 0.0625rem solid var(--cr);
    &::after {
      content: "";
      flex-shrink: 0;
      width: 1.5rem;
      height: 1.5rem;
      background-size: 1.5rem 1.5rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: var(--filterApply);
    }
  }
  .library__filters {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 2rem;
    padding: 0;
    border: none;
    background-color: transparent;

    .facetwp-reset {
      font-size: 1rem;
      line-height: 1.5;
      padding: 0.75rem 1.5rem 0.7rem 1.5rem;
      border: 0.0625rem solid var(--cm);

      &::after {
        width: 1.5rem;
        height: 1.5rem;
        background-size: 1.5rem 1.5rem;
      }
      &:hover {
        background-color: var(--cw);
        border-color: var(--cm);
        color: var(--cm);
        &::after {
          background-image: var(--trashDef);
        }
      }
    }
  }

  .libr-card {
    flex-basis: calc((100% - 1 * 1rem) / 2);

    &:hover {
      box-shadow: none;
    }

    &__box {
      padding-top: 45%;
    }

    &__review {
      display: none;
    }
    &__content {
      padding: 1.5rem 1rem;
    }
    &__name {
      margin-bottom: 1rem;
      a {
        font-size: 1rem;
        line-height: 1.5;
      }
    }
    &__desc {
      a {
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: 775px) {
  .libr-card {
    flex-basis: 100%;

    &__box {
      padding-top: 48%;
    }
  }
}
