.team {
  &__container {
  }

  &__list {
    display: flex;
    gap: 2.5rem 1rem;
    flex-wrap: wrap;
  }
  &__item {
    flex-basis: calc((100% - 3 * 1rem) / 4);
    max-width: calc((100% - 3 * 1rem) / 4);
    display: flex;
    flex-direction: column;

    &:hover {
      .team__frame {
        transform: scale(1);
      }
    }
  }

  &__photo {
    overflow: hidden;
    z-index: 1;
    height: 19rem;
  }
  &__img {
    position: relative;
    height: 100%;
    border-radius: 1.5rem;
    overflow: hidden;
  }
  &__frame {
    position: relative;
    z-index: 2;
    transform: scale(2);
    transition: all 0.2s ease-in;
  }
  &__info {
    position: relative;
    z-index: 2;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: 0.0625rem solid var(--cl);
    background-color: var(--cw);
    padding: 1rem 0.75rem;
    margin: 0 0.75rem;
    margin-top: -3.25rem;
  }
  &__name {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.33;
    margin-bottom: 0.25rem;
  }
  &__desc {
    flex: 1 1 auto;
    color: var(--cf2);
    font-size: 0.75rem;
    line-height: 1.33;
    margin-bottom: 1rem;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    color: var(--cn);
    font-size: 0.75rem;
    line-height: 1.33;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    a {
      transition: all 0.15s ease-in;
      &:hover {
        color: var(--cr);
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .team {
    display: none;
  }
}
