.policy {
  .title1 {
    margin-bottom: 4rem;
  }
  .tl-img {
    justify-content: start;
  }
}

@media screen and (max-width: 960px) {
  .policy {
    .title1 {
      font-size: 2rem;
      line-height: 1.25;
      margin-bottom: 3rem;
    }
  }
}
