<div class="projlist">
  <div class="projlist__container">
    <div class="projlist__search">
      <div class="searchform">
        <div
          class="facetwp-facet facetwp-facet-search facetwp-type-search"
          data-name="search"
          data-type="search"
        >
          <span class="facetwp-input-wrap">
            <input
              type="text"
              class="facetwp-search"
              value=""
              autocomplete="off"
              placeholder="Пошук"
            />
          </span>
        </div>
      </div>

      <div class="filtercont">
        <div class="filter__item filter__type projlist__select" data-txt="Тип">
          <div class="facetwp-facet facetwp-type-dropdown">
            <select class="facetwp-dropdown">
              <option value="Lecture" selected>Всі типи</option>
              <option value="Seminars">Семінари</option>
              <option value="Activities">
                Заходи Заходи Заходи Заходи Заходи Заходи Заходи Заходи Заходи
              </option>
            </select>
          </div>
        </div>
        <div class="filter__item filter__sort">
          <!-- <button type="button" class="filter__sort-btn choice"> -->
          <button type="button" class="filter__sort-btn">
            <span class="filter-new">Спочатку нові</span>
            <span class="filter-old">Спочатку старі</span>
          </button>
          <div class="facetwp-facet facetwp-type-sort" data-type="sort">
            <select>
              <option value="">Спочатку нові</option>
              <option value="_">Спочатку старі</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <ul class="projlist__list">
      <li class="proj-card">
        <div class="proj-card__headline">
          <p class="itm-black"><span>24.04.24</span></p>
          <p class="itm-navy"><span>Подія</span></p>
          <p class="itm-red"><span>Активний</span></p>
        </div>

        <a href="./project.html" class="proj-card__img ibg">
          <img src="./img/content/project1.jpg" alt="" />
        </a>

        <div class="proj-card__content">
          <a href="./project.html" class="title4">
            Гуманітарного реагування у сервісах сексуального та репродуктивного
            здоровʼя UNFPA, Фонду ООН у галузі народонаселення в Україні
          </a>

          <div class="proj-card__text">
            <p>
              Оснащення медичних закладів в різних регіонах сучасним медичним
              обладнанням та забезпечення медичними товарами для надання
              гінекологічних послуг усім жінкам, зокрема жінкам з інвалідністю.
            </p>
          </div>

          <a href="./project.html" class="btn-def btn-hv1">Детальніше</a>
        </div>
      </li>

      <li class="proj-card">
        <div class="proj-card__headline">
          <p class="itm-black"><span>24.04.24</span></p>
          <p class="itm-navy"><span>Подія</span></p>
          <p class="itm-done"><span>Завершений</span></p>
        </div>

        <a href="./project.html" class="proj-card__img ibg">
          <img src="./img/content/project1.jpg" alt="" />
        </a>

        <div class="proj-card__content">
          <a href="./project.html" class="title4">
            Життєво важлива, гендерно чутлива та інклюзивна допомога у сфері
            сексуального та репродуктивного здоров’я  та гендерно обумовленого
            насильства для постраждалих від конфлікту людей усіх статей в
            Україні та Польщі
          </a>

          <div class="proj-card__text">
            <p>
              Спільно з міжнародною гуманітарною організацією CARE за підтримки
              Федерального міністерства закордонних справ Німеччини
            </p>
          </div>

          <a href="./project.html" class="btn-def btn-hv1">Детальніше</a>
        </div>
      </li>

      <li class="proj-card">
        <div class="proj-card__headline">
          <p class="itm-black"><span>24.04.24</span></p>
          <p class="itm-navy"><span>Подія</span></p>
          <p class="itm-red"><span>Активний</span></p>
        </div>

        <a href="./project.html" class="proj-card__img ibg">
          <img src="./img/content/project1.jpg" alt="" />
        </a>

        <div class="proj-card__content">
          <a href="./project.html" class="title4">
            Пом’якшення наслідків сексуального та гендерно зумовленого
            насильства серед постраждалих від конфлікту в Україні
          </a>

          <div class="proj-card__text">
            <p>
              В партнерстві та за підтримки Міжнародної федерації планування
              сім’ї / IPPF та CARE
            </p>
          </div>

          <a href="./project.html" class="btn-def btn-hv1">Детальніше</a>
        </div>
      </li>
    </ul>

    <div class="pagination__cont">
      <div
        class="facetwp-facet facetwp-facet-pagination facetwp-type-pager"
        data-name="pagination"
        data-type="pager"
      >
        <div class="facetwp-pager">
          <a class="facetwp-page prev" data-page="1"><span></span></a>
          <a class="facetwp-page first" data-page="1">1</a>
          <a class="facetwp-page active" data-page="2">2</a>
          <a class="facetwp-page" data-page="3">3</a>
          <a class="facetwp-page dots">…</a>
          <a class="facetwp-page last" data-page="12">12</a>
          <a class="facetwp-page next" data-page="3"><span></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
