<div class="projlist">
  <div class="projlist__container">
    <ul class="projlist__list">
      <li class="proj-card"></li>
    </ul>

    <div class="pagination__cont">
      <div
        class="facetwp-facet facetwp-facet-pagination facetwp-type-pager"
        data-name="pagination"
        data-type="pager"
      >
        <div class="facetwp-pager">
          <a class="facetwp-page prev" data-page="1"><span></span></a>
          <a class="facetwp-page first" data-page="1">1</a>
          <a class="facetwp-page active" data-page="2">2</a>
          <a class="facetwp-page" data-page="3">3</a>
          <a class="facetwp-page dots">…</a>
          <a class="facetwp-page last" data-page="12">12</a>
          <a class="facetwp-page next" data-page="3"><span></span></a>
        </div>
      </div>
    </div>
  </div>
</div>
