<section class="error">
  <div class="error__container">
    <div class="error__img no-select">
      <img src="./img/decor/error.png" alt="" />
    </div>

    <div class="error__content">
      <h1 class="title1">404</h1>
      <h3 class="title4 el-desc">Сторінку не знайдено.</h3>
      <div class="error__text">
        <p>
          Можливо, вона була видалена або ви ввели неправильну адресу.
          Поверніться на головну сторінку або скористайтеся меню, щоб знайти
          потрібну інформацію.
        </p>
      </div>
      <a href="./index.html" class="btn-def">Головна сторінка</a>
    </div>
  </div>
</section>
