<section class="currtender">
  <div class="currtender__container">
    <div class="tenders__heading">
      <h2 class="title2">АКТУАЛЬНІ ТЕНДЕРИ</h2>
      <div class="filtercont">
        <div class="filter__item filter__sort">
          <!-- <button type="button" class="filter__sort-btn choice"> -->
          <button type="button" class="filter__sort-btn">
            <span class="filter-new">Спочатку нові</span>
            <span class="filter-old">Спочатку старі</span>
          </button>
          <div class="facetwp-facet facetwp-type-sort" data-type="sort">
            <select>
              <option value="">Спочатку нові</option>
              <option value="_">Спочатку старі</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <ul class="tenders__list">
      <li class="proj-card">
        <div class="proj-card__headline">
          <p class="itm-navy">Прийом заявок до: <span>24.04.24</span></p>
          <p class="itm-red"><span>Активний</span></p>
        </div>

        <div class="proj-card__content">
          <a href="./tender.html" class="title4">
            Тендер на послуги зі створення анімаційного відеоролика (кейс стаді)
          </a>

          <a href="./tender.html" class="btn-def">Детальніше</a>
        </div>
      </li>

      <li class="proj-card">
        <div class="proj-card__headline">
          <p>Прийом заявок до: <span>24.04.24</span></p>
          <p class="itm-red"><span>Активний</span></p>
        </div>

        <div class="proj-card__content">
          <a href="./tender.html" class="title4">
            Благодійна організація «Благодійний фонд «Здоров’я жінки і
            планування сім’ї» шукає виробників/постачальників зарядних станцій
            на умовах тендеру
          </a>

          <a href="./tender.html" class="btn-def">Детальніше</a>
        </div>
      </li>

      <li class="proj-card">
        <div class="proj-card__headline">
          <p>Прийом заявок до: <span>24.04.24</span></p>
          <p class="itm-red"><span>Активний</span></p>
        </div>

        <div class="proj-card__content">
          <a href="./tender.html" class="title4">
            Конкурс на посаду координатора гарячої лінії
          </a>

          <a href="./tender.html" class="btn-def">Детальніше</a>
        </div>
      </li>
    </ul>

    <div class="pagination__cont">
      <div
        class="facetwp-facet facetwp-facet-pagination facetwp-type-pager"
        data-name="pagination"
        data-type="pager"
      >
        <div class="facetwp-pager">
          <a class="facetwp-page prev" data-page="1"><span></span></a>
          <a class="facetwp-page first" data-page="1">1</a>
          <a class="facetwp-page active" data-page="2">2</a>
          <a class="facetwp-page" data-page="3">3</a>
          <a class="facetwp-page dots">…</a>
          <a class="facetwp-page last" data-page="12">12</a>
          <a class="facetwp-page next" data-page="3"><span></span></a>
        </div>
      </div>
    </div>
  </div>
</section>
