<section class="tenders first-sec">
  <div class="tenders__container-hero_sec">
    <h1 class="title1 tl-img">
      <span>Тендери</span>
      <img src="./img/icons/tl_ic6.svg" alt="" class="el-desc stl-img" />
      <span>та</span>
      <img src="./img/icons/tl_ic6.svg" alt="" class="el-mob stl-img" />
      <span>закупівлі</span>
    </h1>
    <div class="text-page">
      <p>
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
        officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
</section>
