.hero {
  position: relative;
  z-index: 1;

  &__container {
  }
  &__body {
    position: relative;
    padding-top: 22.37rem;
  }

  &__box {
    position: relative;
    z-index: 3;
    margin-left: 34.355rem;

    .text-page {
      text-align: start;
      width: 100%;
      max-width: 39rem;
      transition: all 0.5s ease-in;
    }

    &.isScroll {
      .text-page {
        transform: translate(-70%, -10rem) scale(0.3);
      }
    }
  }

  &__vec {
    position: absolute;
    z-index: 2;
    top: 2.46rem;
    right: -27.35rem;
    width: 69.51838rem;
    transition: all 0.5s ease-in;

    &.isScroll {
      transform: translateY(-10%);
      opacity: 0;
    }
  }
  &__filter {
    position: absolute;
    z-index: 1;
    top: -6.55rem;
    right: -25.2rem;
    width: 43.72625rem;
    height: 43.72625rem;
    border-radius: 43.72625rem;
    opacity: 0.56;
    background-color: var(--ck);
    filter: blur(7.1329rem);
    transition: all 0.5s ease-in;

    &.isScroll {
      opacity: 0;
    }
  }
}

@media screen and (max-width: 960px) {
  .hero {
    &__body {
      padding-top: 16.0625rem;
    }

    &__box {
      margin-left: 0;

      .text-page {
        max-width: 42rem;
      }

      &.isScroll {
        .text-page {
          transform: translate(-35%, -10rem) scale(0.3);
        }
      }
    }

    &__filter {
      display: none;
    }
    &__vec {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .hero {
  }
}
