.implemented {
  &__container {
  }
  &__body {
    display: grid;
    align-items: start;
    grid-template-columns: 25.5rem 45.6875rem;
    justify-content: space-between;
    gap: 3rem;
  }

  &__aside {
    display: flex;
    flex-direction: column;
    min-height: 39.5625rem;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    border-radius: 1.5rem;
    border: 0.0625rem solid var(--cl);
    background-color: var(--cw3);

    & > .title2 {
      flex: 1 1 auto;
      margin-bottom: 6rem;
    }

    .arrows {
      .arrows__next {
        position: relative;
        overflow: hidden;
        border: 0;
        &::before {
          z-index: 11;
        }

        &.isPausedLoader {
          .loader-wrap {
            div {
              animation-play-state: paused !important;
            }
          }
        }
      }
      .loader-wrap {
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        height: 100%;
        z-index: 10;

        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          z-index: 10;
          width: calc(100% - 0.25rem);
          height: calc(100% - 0.25rem);
          border-radius: 50%;
          background-color: var(--cw);
        }

        div {
          top: 0;
          position: absolute;
          width: 50%;
          height: 100%;
        }

        .leftHalf {
          left: 0;
          background-color: var(--cw);
          z-index: 3;
          opacity: 1;
          -webkit-animation: showHide 4s infinite steps(1, end);
          animation: showHide 4s infinite steps(1, end);
          border-radius: 100% 0 0 100%/ 50% 0 0 50%;
        }

        .rightHalf {
          right: 0;
          background-color: var(--cg);
          z-index: 1;
          opacity: 0;
          -webkit-animation: showHide 4s infinite steps(1, end) reverse;
          animation: showHide 4s infinite steps(1, end) reverse;
          border-radius: 0 100% 100% 0/ 0 50% 50% 0;
        }

        .spinner {
          left: 0;
          background-color: var(--cg);
          -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
          -webkit-transform-origin: center right;
          transform-origin: center right;
          z-index: 2;
          border-radius: 100% 0 0 100%/ 50% 0 0 50%;
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes showHide {
  0% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes showHide {
  0% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0;
  }
}

#mapukr-slider-first {
  width: 100%;
  margin-bottom: 3.5rem;

  .splide__slide {
    display: flex;
    flex-direction: column;
    & > p {
      display: flex;
      justify-content: space-between;
      color: var(--cf2);
      font-size: 0.75rem;
      line-height: 1.33;
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
      border-bottom: 0.0625rem solid var(--cl);
    }

    .splide__slide {
      & > .title2 {
        color: var(--cr);
        margin-bottom: 0.5rem;
      }
      & > .mapukr__desc {
        color: var(--cf2);
        font-size: 0.875rem;
        line-height: 1.42;
      }
    }
  }
}
#mapukr-slider-second {
  width: 100%;
  .splide__slide {
    .splide__slide {
      display: flex;
      flex-direction: column;
      .title4 {
        margin-top: auto;
        margin-bottom: 2rem;
      }
    }
  }
}

.slider__map {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  .mapukr {
    position: relative;
    width: 100%;
    max-width: 37.5rem;
    height: 25rem;
    svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .mapukr__region {
    &.isCurrentObl {
      .mapukr__fill {
        fill: #fff0f3;
        stroke: #fea3b7;
      }
    }
    &.isHoverObl {
      .mapukr__fill {
        fill: #fff0f3;
        stroke: #fea3b7;
      }
    }
    &.isDisabledObl {
      .mapukr__fill {
        cursor: default;
        fill: #e7e7e7;
      }
    }
  }
  .mapukr__fill {
    cursor: pointer;
    fill: #f6f6f6;
    stroke: #d1d1d1;
    stroke-width: 1.087;
    transition: all 0.15s ease-in;
  }

  .nameobl {
    position: absolute;
    z-index: 1;
    border-radius: 0.5435rem 0.13588rem 0.5435rem 0.5435rem;
    box-shadow: 0 0.1359rem 0.4076rem 0 rgba(0, 0, 0, 0.12);
    background-color: var(--cw);
    color: var(--cr);
    transform: translate(-100%, -25%);
    padding: 0.27175rem 0.81519rem;
    font-size: 0.81519rem;
    font-weight: 600;
    line-height: 1.33;
    pointer-events: none;
    transition: all 0.15s ease-in;
    opacity: 0;
    visibility: hidden;

    &.currentName {
      opacity: 1;
      visibility: visible;
      color: var(--cw) !important;
      background-color: var(--cr) !important;
    }
    &.hoverName {
      z-index: 2;
      opacity: 1;
      visibility: visible;
    }
  }
}

@media screen and (max-width: 960px) {
  .implemented {
    &__body {
      align-items: stretch;
      grid-template-columns: 100%;
      justify-content: stretch;
    }

    &__aside {
      padding: 1.5rem 1rem;
      min-height: auto;

      & > .title2 {
        margin-bottom: 4rem;
      }
    }
  }

  #mapukr-slider-first {
    margin-bottom: 1.5rem;

    .splide__slide {
      position: relative;
      & > p {
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column-reverse;
        justify-content: stretch;
        align-items: end;
        gap: 0.25rem;
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0;
        width: 50%;
        span {
          text-align: right;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
        }
      }

      .splide__slide {
        & > .title2 {
          font-size: 2.75rem;
          line-height: 1.09;
          padding-right: 50%;
          margin-bottom: 1.0625rem;
        }
      }
    }
  }
  #mapukr-slider-second {
    .splide__slide {
      .splide__slide {
        .title4 {
          margin-bottom: 1.5rem;
        }
        .tenderhome__btns {
          width: 100%;
          .btn-def {
            width: 100%;
          }
        }
      }
    }
  }

  .slider__map {
    .mapukr {
      max-width: 100%;
      height: auto;
      padding-bottom: 66.5%;
    }
  }
}

@media screen and (max-width: 600px) {
  .slider__map {
    .nameobl {
      padding: 0.25rem 0.5rem;
      border-radius: 0.46675rem 0.07781rem 0.46675rem 0.46675rem;
      box-shadow: 0px 1.245px 3.734px 0px rgba(0, 0, 0, 0.12);
      font-size: 0.75rem;
    }
  }
}
