.tenderhome {
  &__container {
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  &__card {
    display: flex;
    flex-direction: column;
    min-height: 21.5rem;
    padding: 1.5rem 1rem;
    flex-basis: calc((100% - 2 * 1rem) / 3);
    border-radius: 1rem;
    border: 0.0625rem solid var(--cw3);
    background-color: var(--cw);
    transition: all 0.15s ease-in;

    &:hover {
      border-color: var(--cl);
    }
  }

  &__btns {
    display: flex;
    width: fit-content;
    &:hover {
      .btn-def {
        border-color: var(--cw4);
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
      }
      .tenderhome__vec {
        border-color: var(--cw4);
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
        &::before {
          transition: .3s;
        }
      }
    }
    &:active * {
      color: var(--cf);
      &::before {
        opacity: 0.7;
      }
    }
  }
  &__vec {
    padding: 1.125rem;
    flex-shrink: 0;
    border-radius: 50%;
    border: 0.0625rem solid var(--cm);
    background-color: var(--cw);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-in;
    &::before {
      content: "";
      width: 1.25rem;
      height: 1.25rem;
      background-size: 1.25rem 1.25rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: var(--arrow);
      transition: all 0.15s ease-in;
      transform: rotate(-45deg);
    }
  }

  .proj-card__headline {
    margin-bottom: 1.5rem;
  }
  .title4 {
    width: fit-content;
    flex: 1 1 auto;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 960px) {
  .tenderhome {
    &__card {
      min-height: 16rem;
      flex-basis: calc((100% - 1 * 1rem) / 2);
      border-color: var(--cl);
    }
    &__vec {
      padding: 1rem;
      &::before {
        width: 1rem;
        height: 1rem;
        background-size: 1rem 1rem;
      }
    }
  }
}

@media screen and (max-width: 675px) {
  .tenderhome {
    &__card {
      min-height: auto;
      flex-basis: 100%;
    }
    .title4 {
      margin-bottom: 3rem;
    }
  }
}
