<section class="about first-sec">
  <div class="about__container-hero_sec">
    <h1 class="title1 tl-img">
      <img src="./img/icons/tl_ic5.svg" alt="" class="stl-img" />
      <span>Про нас</span>
    </h1>
    <div class="text-page">
      <p>
        БФ «Здоров’я жінки і планування сім’ї» — це організація, яка послідовно
        та активно працює у сфері громадського, сексуального та репродуктивного
        здоров’я з 1996 року на всій території України.
      </p>
    </div>
  </div>
</section>
