<section class="activity sec-pd1">
  <div class="activity__container">
    <div class="heading-splide">
      <div class="heading-splide__top">
        <h2 class="title2">ДІЯЛЬНІСТЬ ФОНДУ</h2>
      </div>

      <div class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="activity__card splide__slide">
              <span class="activity__numder">01</span>
              <div class="activity__box">
                <h4 class="title4">
                  Захист сексуального та репродуктивного здоров’я
                </h4>
                <div class="activity__desc">
                  <p>в тому числі людей з інвалідністю</p>
                </div>
              </div>
              <div class="activity__img">
                <img src="./img/icons/bann1.svg" alt="" />
              </div>
              <div class="activity__filter"></div>
            </li>
            <li class="activity__card splide__slide">
              <span class="activity__numder">02</span>
              <div class="activity__box">
                <h4 class="title4">Інформаційно-просвітницькі заходи</h4>
                <div class="activity__desc">
                  <p>в галузі громадського здоров’я</p>
                </div>
              </div>
              <div class="activity__img">
                <img src="./img/icons/bann2.svg" alt="" />
              </div>
              <div class="activity__filter"></div>
            </li>
            <li class="activity__card splide__slide">
              <span class="activity__numder">03</span>
              <div class="activity__box">
                <h4 class="title4">Профілактичні програми з НІЗ</h4>
                <div class="activity__desc">
                  <p>та запобігання онкологічним захворюванням</p>
                </div>
              </div>
              <div class="activity__img">
                <img src="./img/icons/bann4.svg" alt="" />
              </div>
              <div class="activity__filter"></div>
            </li>
            <li class="activity__card splide__slide">
              <span class="activity__numder">04</span>
              <div class="activity__box">
                <h4 class="title4">Навчання медичних працівників</h4>
                <div class="activity__desc">
                  <p>соціальних працівників, педагогів, психологів</p>
                </div>
              </div>
              <div class="activity__img">
                <img src="./img/icons/bann1.svg" alt="" />
              </div>
              <div class="activity__filter"></div>
            </li>
          </ul>
        </div>
      </div>

      <div class="arrows">
        <div class="arrows__body">
          <button type="button" class="arrows__prev"></button>
          <button type="button" class="arrows__next"></button>
        </div>
      </div>
    </div>
  </div>
</section>
