<section class="bpr sec-pd1">
  <div class="bpr__container">
    <div class="heading-splide__top">
      <h2 class="title2">політики та бпр</h2>
    </div>
    <ul class="bpr__list">
      <li class="ac">
        <div class="ac-trigger">
          <div class="bpr__top">
            <h3 class="title3">Політики фонду</h3>
            <span class="bpr__vec"></span>
          </div>

          <div class="ac-panel">
            <ul class="bpr__content">
              <li class="bpr__items">
                <div class="bpr__text">
                  <a href="#">
                    Методологія оцінювання набутих знань, компетентностей та
                    практичних навичок
                  </a>
                </div>
                <a href="#" class="bpr__btn">Переглянути</a>
              </li>
              <li class="bpr__items">
                <div class="bpr__text">
                  <a href="#">
                    Оцінка заходів безперервного професійного розвитку на ознаки
                    академічної доброчесності та дотримання принципів доказової
                    медицини
                  </a>
                </div>
                <a href="#" class="bpr__btn">Переглянути</a>
              </li>
              <li class="bpr__items">
                <div class="bpr__text">
                  <a href="#">Запобігання конфлікту інтересів</a>
                </div>
                <a href="#" class="bpr__btn">Переглянути</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="ac">
        <div class="ac-trigger">
          <div class="bpr__top">
            <h3 class="title3">Безперервний професійний розвиток</h3>
            <span class="bpr__vec"></span>
          </div>

          <div class="ac-panel">
            <ul class="bpr__content">
              <li class="bpr__items">
                <div class="bpr__text">
                  <a href="#">
                    Методологія оцінювання набутих знань, компетентностей та
                    практичних навичок
                  </a>
                </div>
                <a href="#" class="bpr__btn">Переглянути</a>
              </li>
              <li class="bpr__items">
                <div class="bpr__text">
                  <a href="#">
                    Оцінка заходів безперервного професійного розвитку на ознаки
                    академічної доброчесності та дотримання принципів доказової
                    медицини
                  </a>
                </div>
                <a href="#" class="bpr__btn">Переглянути</a>
              </li>
              <li class="bpr__items">
                <div class="bpr__text">
                  <a href="#">Запобігання конфлікту інтересів</a>
                </div>
                <a href="#" class="bpr__btn">Переглянути</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
