<section class="donors sec-pd1">
  <div class="donors__container">
    <div class="heading-splide__top">
      <h2 class="title2">партнери та донори</h2>
    </div>
    <div class="donors__body">
      <div class="donors__text">
        <p>
          БФ «Здоров’я жінки і планування сім’ї» — це організація, яка
          послідовно та активно працює у сфері громадського, сексуального та
          репродуктивного здоров’я з 1996 року на всій території України.
        </p>
      </div>

      <div class="partnblock__wrapp">
        <ul class="partnblock__list">
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn1.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn2.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn3.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn4.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn5.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn6.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn7.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn8.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <div class="partnblock__placehld">
                <span>
                  <img src="./img/content/placehld.png" alt="" />
                </span>
                <p>
                  Радник уповноважений Президента України з питань
                  безбар'єрності
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="donors__btn-box">
        <a href="./partners.html" class="btn-def">Всі партнери</a>
      </div>
    </div>
  </div>
</section>
