<div class="member sec-pd1">
  <div class="member__container">
    <div class="member__body">
      <ul class="member__federation">
        <li>
          <img src="./img/content/federation1.png" alt="" />
        </li>
        <li>
          <img src="./img/content/federation2.png" alt="" />
        </li>
        <li>
          <img src="./img/content/federation3.png" alt="" />
        </li>
      </ul>
      <div class="member__desc">
        <p>
          Також Фонд є членом Міжнародної федерації планування сім'ї  / IPPF,
          Європейської коаліції проти раку «Європа Донна» / EUROPADONNA, та
          Мережі з репродуктивного здоров’я та прав у Центральній та Східній
          Європі / ASTRA.
        </p>
      </div>
    </div>
  </div>
</div>
