<section class="team sec-pd1">
  <div class="team__container">
    <h2 class="title2">нАША КОМАНДА</h2>
    <ul class="team__list">
      <li class="team__item">
        <div class="team__photo ibg">
          <div class="team__img">
            <img src="./img/content/team1.jpg" alt="" />
          </div>
          <img src="./img/decor/frame.png" alt="" class="team__frame" />
        </div>
        <div class="team__info">
          <h5 class="team__name">Марія Степаненко</h5>
          <div class="team__desc">
            <p>
              Керівник програм розвитку та координаторка волонтерських програм
            </p>
          </div>
          <div class="team__contacts">
            <span>
              <a href="mailto:m.stepanenko@charityfoundation.org">
                m.stepanenko@charityfoundation.orgsadasdasdasd
              </a>
            </span>
            <span><a href="tel:+380762452424">+38 (076) 245 24 24</a></span>
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__photo ibg">
          <div class="team__img">
            <img src="./img/content/team1.jpg" alt="" />
          </div>
          <img src="./img/decor/frame.png" alt="" class="team__frame" />
        </div>
        <div class="team__info">
          <h5 class="team__name">Марія Степаненко</h5>
          <div class="team__desc">
            <p>
              Керівник програм розвитку та координаторка волонтерських програм
            </p>
          </div>
          <div class="team__contacts">
            <span>
              <a href="mailto:m.stepanenko@charityfoundation.org">
                m.stepanenko@charityfoundation.org
              </a>
            </span>
            <span><a href="tel:+380762452424">+38 (076) 245 24 24</a></span>
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__photo ibg">
          <div class="team__img">
            <img src="./img/content/team1.jpg" alt="" />
          </div>
          <img src="./img/decor/frame.png" alt="" class="team__frame" />
        </div>
        <div class="team__info">
          <h5 class="team__name">Марія Степаненко</h5>
          <div class="team__desc">
            <p>
              Керівник програм розвитку та координаторка волонтерських програм
            </p>
          </div>
          <div class="team__contacts">
            <span>
              <a href="mailto:m.stepanenko@charityfoundation.org">
                m.stepanenko@charityfoundation.org
              </a>
            </span>
            <span><a href="tel:+380762452424">+38 (076) 245 24 24</a></span>
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__photo ibg">
          <div class="team__img">
            <img src="./img/content/team1.jpg" alt="" />
          </div>
          <img src="./img/decor/frame.png" alt="" class="team__frame" />
        </div>
        <div class="team__info">
          <h5 class="team__name">Марія Степаненко</h5>
          <div class="team__desc">
            <p>
              Керівник програм розвитку та координаторка волонтерських програм
            </p>
          </div>
          <div class="team__contacts">
            <span>
              <a href="mailto:m.stepanenko@charityfoundation.org">
                m.stepanenko@charityfoundation.org
              </a>
            </span>
            <span><a href="tel:+380762452424">+38 (076) 245 24 24</a></span>
          </div>
        </div>
      </li>
      <li class="team__item">
        <div class="team__photo ibg">
          <div class="team__img">
            <img src="./img/content/team1.jpg" alt="" />
          </div>
          <img src="./img/decor/frame.png" alt="" class="team__frame" />
        </div>
        <div class="team__info">
          <h5 class="team__name">Марія Степаненко</h5>
          <div class="team__desc">
            <p>
              Керівник програм розвитку та координаторка волонтерських програм
            </p>
          </div>
          <div class="team__contacts">
            <span>
              <a href="mailto:m.stepanenko@charityfoundation.org">
                m.stepanenko@charityfoundation.org
              </a>
            </span>
            <span><a href="tel:+380762452424">+38 (076) 245 24 24</a></span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
