.replist {
  padding-top: 5.5rem;

  .cards-list {
    gap: 2.5rem 1rem;
  }
}

@media screen and (max-width: 960px) {
  .replist {
    padding-top: 3rem;
  }
}

@media screen and (max-width: 875px) {
  .replist {
    .cards-list {
      gap: 1rem;
    }
  }
}
