<section class="project sec-pd2">
  <div class="project__container">
    <!-- <div class="article article-alter"> -->
    <div class="article article-alter">
      <div class="article__heading">
        <div class="proj-card__headline">
          <p class="itm-black"><span>24.04.24</span></p>
          <p class="itm-navy"><span>Подія</span></p>
          <p class="itm-red"><span>Активний</span></p>
        </div>
        <h1>
          Заходи гуманітарного реагування у сервісах сексуального та
          репродуктивного здоровʼя UNFPA, Фонду ООН у галузі народонаселення в
          Україні 
        </h1>
      </div>

      <div class="article__main">
        <div class="article__sidebar"></div>
        <div class="article__content article__embeded">
          <div class="article__img ibg">
            <img src="./img/content/project2.jpg" alt="" />
          </div>
          <h2>Підзаголовок ipsum dolor sit amet</h2>
          <b
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
          </b>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum
          </p>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum
          </p>

          <div class="article__img-splide">
            <div class="splide">
              <div class="splide__track">
                <ul class="splide__list">
                  <li class="splide__slide ibg">
                    <img src="./img/content/project3.jpg" alt="" />
                  </li>
                  <li class="splide__slide ibg">
                    <img src="./img/content/project2.jpg" alt="" />
                  </li>
                </ul>
              </div>
            </div>

            <div class="arrows">
              <div class="arrows__body">
                <button type="button" class="arrows__prev"></button>
                <button type="button" class="arrows__next"></button>
              </div>
            </div>
          </div>

          <p>
            Lorem ipsum dolor sit amet,
            <a href="">consectetur adipiscing</a> elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea <a href="#">commodo consequat</a>. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum
          </p>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum
          </p>

          <div class="article__person">
            <div class="person__box">
              <!-- <div class="person__ava no-select person__ava-def">
                <span class="no-select">
                  <img src="./img/icons/user.svg" alt="" />
                </span>
              </div> -->
              <div class="person__ava no-select">
                <img src="./img/content/ava1.jpg" alt="" />
              </div>
              <div class="person__info">
                <p class="person__name">Аліна Романенко</p>
                <p class="person__position">Приклад посади</p>
              </div>
            </div>
            <div class="person__mess">
              <p>
                Цитата ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur.
              </p>
            </div>
          </div>

          <h2>Ut enim ad minim veniam, quis nostrud</h2>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>

          <div class="article__download">
            <div class="download">
              <a
                href="./img/content/interpart7.png"
                class="download__link"
                download
              >
                <span class="download__txt">Прикріпленний файл: </span>
                <span class="download__icon">
                  <img src="./img/icons/download.svg" alt="" />
                </span>
              </a>
            </div>
          </div>

          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>

        <div class="article__soc el-desc">
          <div class="article__soc-box">
            <p>Поділитись через:</p>
            <ul>
              <li>
                <a href="#" target="_blank" rel="noopener noreferrer">
                  <span><img src="./img/icons/artcl_soc1.svg" alt="" /></span>
                </a>
              </li>
              <li>
                <a href="#" target="_blank" rel="noopener noreferrer">
                  <span><img src="./img/icons/artcl_soc2.svg" alt="" /></span>
                </a>
              </li>
              <li>
                <a href="#" target="_blank" rel="noopener noreferrer">
                  <span><img src="./img/icons/artcl_soc3.svg" alt="" /></span>
                </a>
              </li>
              <li>
                <a href="#" target="_blank" rel="noopener noreferrer">
                  <span><img src="./img/icons/artcl_soc4.svg" alt="" /></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
