<section class="projmore">
  <div class="projmore__container">
    <div class="heading-splide">
      <div class="heading-splide__top">
        <h2 class="title2">БІЛЬШЕ ПРОЄКТІВ</h2>
      </div>
      <div class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="proj-card splide__slide">
              <div class="proj-card__headline">
                <p class="itm-black"><span>24.04.24</span></p>
                <p class="itm-navy"><span>Подія</span></p>
                <p class="itm-red"><span>Активний</span></p>
              </div>

              <div class="proj-card__content">
                <a href="./project.html" class="title4">
                  Заходи гуманітарного реагування у сервісах сексуального та
                  репродуктивного здоровʼя UNFPA, Фонду ООН у галузі
                  народонаселення в Україні 
                </a>

                <div class="proj-card__text">
                  <p>
                    Оснащення медичних закладів в різних регіонах сучасним
                    медичним обладнанням та забезпечення медичними товарами для
                    надання гінекологічних послуг усім жінкам, зокрема жінкам з
                    інвалідністю.
                  </p>
                </div>

                <a href="./project.html" class="btn-def">Детальніше</a>
              </div>
            </li>
            <li class="proj-card splide__slide">
              <div class="proj-card__headline">
                <p class="itm-black"><span>24.04.24</span></p>
                <p class="itm-navy"><span>Подія</span></p>
                <p class="itm-red"><span>Активний</span></p>
              </div>

              <div class="proj-card__content">
                <a href="./project.html" class="title4">
                  Заходи гуманітарного реагування у сервісах сексуального та
                  репродуктивного здоровʼя UNFPA, Фонду ООН у галузі
                  народонаселення в Україні 
                </a>

                <div class="proj-card__text">
                  <p>
                    Оснащення медичних закладів в різних регіонах сучасним
                    медичним обладнанням та забезпечення медичними товарами для
                    надання гінекологічних послуг усім жінкам, зокрема жінкам з
                    інвалідністю.
                  </p>
                </div>

                <a href="./project.html" class="btn-def">Детальніше</a>
              </div>
            </li>
            <li class="proj-card splide__slide">
              <div class="proj-card__headline">
                <p class="itm-black"><span>24.04.24</span></p>
                <p class="itm-navy"><span>Подія</span></p>
                <p class="itm-red"><span>Активний</span></p>
              </div>

              <div class="proj-card__content">
                <a href="./project.html" class="title4">
                  Заходи гуманітарного реагування у сервісах сексуального та
                  репродуктивного здоровʼя UNFPA, Фонду ООН у галузі
                  народонаселення в Україні 
                </a>

                <div class="proj-card__text">
                  <p>
                    Оснащення медичних закладів в різних регіонах сучасним
                    медичним обладнанням та забезпечення медичними товарами для
                    надання гінекологічних послуг усім жінкам, зокрема жінкам з
                    інвалідністю.
                  </p>
                </div>

                <a href="./project.html" class="btn-def">Детальніше</a>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="arrows">
        <div class="arrows__body">
          <button type="button" class="arrows__prev"></button>
          <button type="button" class="arrows__next"></button>
        </div>
      </div>
    </div>
  </div>
</section>
