.mobmenu {
  display: none;
}

@media screen and (max-width: 960px) {
  .mobmenu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: var(--cw);
    transform: translateY(-100%);
    -webkit-overflow-scrolling: touch;

    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;

    .bg-page {
      height: 100vh;
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
    }

    &.isOpened {
      transform: translateY(0);
      .bg-page {
        height: 100vw;
      }
    }

    &__body {
      overflow-y: auto;
    }
    &__container {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 500px) {
  .mobmenu {
  }
}
