.header__main {
  .navmenu {
    display: flex;
    align-items: center;
    gap: 5.875rem;

    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 0.75rem;
      padding: 0.375rem 0.5rem;
      border-radius: 2rem;
      border: 0.0625rem solid var(--cl);
      background-color: var(--cw);

      a {
        text-wrap: nowrap;
        display: block;
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.42;
        border-radius: 2rem;
        padding: 0.5rem 0.75rem;
        transition: all 0.15s ease-in;
        &:hover {
          background-color: var(--cw2);
          color: var(--cf2);
        }
      }
      .current-menu-item {
        a {
          background-color: var(--cw2);
          color: var(--cf2);
        }
      }
    }

    &__box {
      display: flex;
      align-items: center;
      gap: 1rem;

      .btn-def {
        padding: 0.75rem 1.5rem;
        background-color: var(--cr);
        border: none;
        color: var(--cw);
      }
    }
    &__lang {
      position: relative;
      li:not(:first-child) {
        display: none;
      }
      a {
        padding: 0.75rem 1.25rem;
        border-radius: 2rem;
        border: 0.0625rem solid var(--cl);
        background-color: var(--cw);
        display: block;
        font-weight: 600;
        transition: all 0.15s ease-in;
      }
      &:hover {
        .sub-menu {
          visibility: visible;
          opacity: 1;
        }
      }
      .sub-menu {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        z-index: 2;
        top: 100%;
        transform: translateY(0.25rem);
        border-radius: 0 0 2rem 2rem;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.25rem;
        transition: all 0.15s ease-in;
        &::before {
          content: "";
          position: absolute;
          top: -0.25rem;
          left: 0;
          width: 100%;
          height: 0.25rem;
        }
        li {
          border-radius: 0 0 2rem 2rem;
        }
        a {
          &:hover {
            background-color: var(--cr);
            border-color: var(--cr);
            color: var(--cw);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .header__main {
    .navmenu {
      display: none;
    }
  }
  .mobmenu {
    .navmenu {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 3rem;
      padding: 8.5rem 0 2.125rem 0;

      &__list {
        border-radius: 1rem;
        border: 0.0625rem solid var(--cl);
        background-color: var(--cw);
        a {
          display: block;
          padding: 1rem;
          border-bottom: 0.0625rem solid var(--cl);
          font-size: 1.125rem;
          font-weight: 600;
          line-height: 1.33;
        }
        .current-menu-item {
          a {
            background-color: var(--cw2);
            color: var(--cf2);
          }
        }
        li {
          &:last-child {
            a {
              border: none;
            }
          }
        }
      }
      &__box {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;

        .btn-def {
          width: 100%;
          background-color: var(--cr);
          border: none;
          color: var(--cw);
        }
      }
      &__lang {
        display: flex;
        gap: 0.25rem;
        border-radius: 2rem;
        background-color: var(--cw2);
        padding: 0.25rem;
        li {
          width: 100%;
          &.current-lang {
            a {
              color: var(--cm);
              background-color: var(--cw);
            }
          }
        }
        a {
          text-align: center;
          display: block;
          padding: 0.5rem 1.25rem;
          border-radius: 2rem;
          background-color: transparent;
          font-weight: 600;
          color: var(--cf);
          transition: all 0.15s ease-in;
        }
        .sub-menu {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .navmenu {
  }
}
