<section class="contacts first-sec">
  <div class="contacts__container-hero_sec">
    <h1 class="title1 tl-img">
      <span>Контакти</span>
      <img src="./img/icons/tl_ic4.svg" alt="" class="stl-img" />
      <span>фонду</span>
    </h1>
    <div class="text-page">
      <p>
        Якщо у вас є питання, пропозиції або потребуєте додаткової інформації,
        зв’яжіться з нами. Ми готові допомогти вам у будь-який зручний для вас
        спосіб – через форму зворотного зв'язку, електронну пошту або за
        телефоном.
      </p>
    </div>
  </div>
</section>
