<section class="contactus">
  <div class="contactus__container">
    <div class="contactus__part1">
      <div class="contactus__contacts">
        <div class="contactus__box">
          <p>Наша пошта:</p>
          <div class="contactus__copy copyBox">
            <button type="button" class="clipboard"></button>
            <a href="mailto:info@rhr.org.ua" class="copyElem">
              info@rhr.org.ua
            </a>
          </div>
        </div>
        <div class="contactus__box">
          <p>Номер телефону:</p>
          <div class="contactus__copy copyBox">
            <button type="button" class="clipboard"></button>
            <a href="tel:+380445965099" class="copyElem">+38 (044) 596 50 99</a>
          </div>
        </div>
        <div class="contactus__box">
          <p>Наша адреса:</p>
          <div class="contactus__copy copyBox">
            <button type="button" class="clipboard"></button>
            <a
              href="https://maps.app.goo.gl/WuPRQDFE4ZNaYGyM8"
              target="_blank"
              rel="noopener noreferrer"
              class="copyElem"
            >
              м. Київ, вул. Гетьмана Павла Скоропадського, 9А
            </a>
          </div>
        </div>
        <div class="contactus__box">
          <p>Ми в соціальних мережах:</p>
          <ul class="contactus__soc">
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="./img/icons/soc_1.svg" alt="" />
              </a>
              <p>LinkTree</p>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="./img/icons/soc_2.svg" alt="" />
              </a>
              <p>Facebook</p>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="./img/icons/soc_3.svg" alt="" />
              </a>
              <p>YouTube</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="contactus__part2">
      <h3 class="title3">Зв'яжіться з нами</h3>
      <div class="contactus__text">
        <p>Заповніть форму нижче, і ми зв'яжемося з вами.</p>
      </div>

      <form class="contactus__form" id="contactForm">
        <div class="contactus__box">
          <!-- <label class="label-def isRequire"> -->
          <label class="label-def">
            <p>Імʼя та прізвище</p>
            <span class="input-def">
              <input type="text" name="contus-name" placeholder="Пишіть тут" />
            </span>
          </label>
          <label class="label-def">
            <p>Номер телефону</p>
            <span class="input-def">
              <input
                type="tel"
                name="contus-tel"
                placeholder="+38 (000) 000 00 00"
              />
            </span>
          </label>
          <label class="label-def">
            <p>Повідомлення</p>
            <span class="input-def">
              <textarea
                name="contus-mess"
                placeholder="Пишіть тут"
                rows="3"
              ></textarea>
            </span>
          </label>
        </div>

        <button type="submit" class="btn-def">Зареєструватись</button>
      </form>

      <p class="contactus__agree">
        Натискаючи Зареєструватись, ви автоматично погоджуєтеся з нашою
        <a href="./policy.html" target="_blank"> Політикою конфіденційності </a>
      </p>
    </div>
  </div>
</section>
