.footer {
  margin-bottom: 2rem;

  &__container {
  }
  &__wrapp {
    border-radius: 1.5rem;
    border: 0.0625rem solid var(--cl);
    background: linear-gradient(180deg, #f6f6f6 29.98%, #e7e7e7 228.67%);
  }

  &__main {
    position: relative;
    padding: 3rem 3rem 1.5rem 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 0 1rem;

    .custom-logo-link {
      grid-area: 1 / 1 / 2 / 2;
    }
    .footer__nav {
      grid-area: 1 / 2 / 3 / 3;
    }
    .footer__inner {
      grid-area: 2 / 1 / 3 / 2;
    }
  }
  &__inner {
  }

  &__nav {
    margin: 0.5rem 0 4rem 0;
  }
  &__list {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    a {
      width: fit-content;
      display: block;
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 1.33;
      transition: all 0.15s ease-in;
      &:hover {
        color: var(--cr);
      }
    }
    li {
      &:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
      }
      &:nth-child(2) {
        grid-area: 2 / 1 / 3 / 2;
      }
      &:nth-child(3) {
        grid-area: 3 / 1 / 4 / 2;
      }
      &:nth-child(4) {
        grid-area: 1 / 2 / 2 / 3;
      }
      &:nth-child(5) {
        grid-area: 2 / 2 / 3 / 3;
      }
      &:nth-child(6) {
        grid-area: 1 / 3 / 2 / 4;
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  &__box {
    & > p {
      color: var(--cf2);
      font-size: 0.75rem;
      line-height: 1.33;
      margin-bottom: 0.5rem;
    }
  }
  &__copy {
    display: flex;
    align-items: start;
    gap: 0.5rem;

    a {
      width: fit-content;
      transition: all 0.15s ease-in;
      font-weight: 600;
    }
    button {
      position: relative;
      top: 0.1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      &::before {
        content: "";
        width: 1.5rem;
        height: 1.5rem;
        background-size: 1.5rem 1.5rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: var(--copyDef);
        transition: all 0.15s ease-in;
      }
    }

    &.isCopy {
      a {
        color: var(--cr);
      }
      button {
        &::before {
          background-image: var(--copyAct);
        }
      }
    }
  }

  &__soc {
    position: absolute;
    bottom: 1.5rem;
    right: 3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    a {
      display: block;
      width: 2rem;
    }
  }

  &__bottom {
    padding: 1.5rem 3rem;
    display: flex;
    gap: 0.5rem 2rem;
    border-top: 0.0625rem solid var(--cl);

    & > p {
      flex-shrink: 0;
    }
    p,
    a {
      color: var(--cf2);
      font-size: 0.75rem;
      line-height: 1.33;
    }
  }
  &__reverse {
    display: flex;
    gap: 2rem 1rem;
    justify-content: space-between;
    flex: 1 1 auto;
    & > p {
      display: flex;
      align-items: start;
      gap: 0.25rem;
      text-wrap: nowrap;
      a {
        width: 3.25rem;
      }
    }
    a {
      width: fit-content;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .custom-logo-link {
    width: 11.875rem;
    display: block;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 960px) {
  .footer {
    margin-bottom: 1.5rem;

    &__wrapp {
      border-radius: 1rem;
    }

    &__main {
      padding: 1.5rem 1rem;
      grid-template-columns: auto;
      grid-template-rows: auto;
      gap: 0;

      .custom-logo-link,
      .footer__nav,
      .footer__inner {
        grid-area: auto;
      }
    }

    &__nav {
      margin: 0 0 3rem 0;
    }
    &__list {
      grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
      grid-template-rows: auto;
      a {
        font-size: 0.875rem;
        line-height: 1.42;
      }
      li {
        grid-area: auto !important;
      }
    }

    &__contacts {
      gap: 1.75rem 3.5rem;
      margin-bottom: 2rem;
      flex-wrap: wrap;
      flex-direction: row;
    }
    &__box {
      & > p {
        margin-bottom: 0.75rem;
      }
    }
    &__copy {
      a {
        max-width: 14.25rem;
      }
    }

    &__soc {
      position: static;
      bottom: 0;
      right: 0;
      gap: 1.5rem;
      a {
        width: 1.5rem;
      }
    }

    &__bottom {
      padding: 1.5rem 1rem;
    }
    &__reverse {
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }

    .custom-logo-link {
      width: 10.4375rem;
      margin-bottom: 2.5rem;
    }
  }
}

@media screen and (max-width: 675px) {
  .footer {
    &__bottom {
      flex-direction: column;
    }
    &__reverse {
      flex-direction: column-reverse;
      justify-content: start;
    }
  }
}
