<section class="webinars first-sec">
  <div class="webinars__container">
    <h1 class="title1 tl-img">
      <span>Тренінги та</span>
      <img src="./img/icons/tli.svg" alt="" class="el-desc" />
      <span>вебінари</span>
      <img src="./img/icons/tli.svg" alt="" class="el-mob" />
    </h1>
    <div class="text-page">
      <p>
        БФ «Здоров’я жінки і планування сім’ї» — це організація, яка послідовно
        та активно працює у сфері громадського, сексуального та репродуктивного
        здоров’я з 1996 року на всій території України.
      </p>
    </div>
  </div>
</section>
