<section class="weblist">
  <div class="weblist__container">
    <ul class="weblist__list">
      <li class="ac">
        <div class="ac-trigger">
          <div class="weblist__top">
            <div class="proj-card__headline">
              <p class="itm-navy">Тривалість: <span>2 дні</span></p>
              <p class="itm-red">Формат: <span>Офлайн</span></p>
            </div>
            <div class="weblist__box">
              <h4 class="title4">
                Надання медичної допомоги в галузі сексуального та
                репродуктивного здоров’я жінкам з інвалідністю
              </h4>
              <span class="weblist__vec"></span>
            </div>
          </div>

          <div class="ac-panel">
            <div class="weblist__content">
              <div class="weblist__text">
                <p>
                  Коректна термінологія щодо інвалідності, сексуальні та
                  репродуктивні права людей з інвалідністю, сексуальне та
                  репродуктивне здоров’я жінок з інвалідністю, доступність
                  послуг з сексуального та репродуктивного здоров’я для людей з
                  інвалідністю в Україні, етика спілкування, навички ефективної
                  комунікації, надання медичної (гінекологічної) допомоги жінкам
                  з інвалідністю
                </p>
              </div>

              <ul class="weblist__info">
                <li class="web-format">
                  <span>Формат</span>
                  <p>Офлайн</p>
                </li>
                <li class="web-forwhom">
                  <span>Для кого</span>
                  <p>Для лікарів акушерів-гінекологів, сімейних лікарів</p>
                </li>
                <li class="web-duration">
                  <span>Тривалість</span>
                  <p>2 дні</p>
                </li>
              </ul>

              <button
                type="button"
                class="btn-def openModal"
                data-id="signupModal"
              >
                Форма Реєстрації
              </button>
            </div>
          </div>
        </div>
      </li>
      <li class="ac">
        <div class="ac-trigger">
          <div class="weblist__top">
            <div class="proj-card__headline">
              <p class="itm-navy">Тривалість: <span>2 дні</span></p>
              <p class="itm-red">Формат: <span>Офлайн</span></p>
            </div>
            <div class="weblist__box">
              <h4 class="title4">
                Надання медичної допомоги в галузі сексуального та
                репродуктивного здоров’я жінкам з інвалідністю
              </h4>
              <span class="weblist__vec"></span>
            </div>
          </div>

          <div class="ac-panel">
            <div class="weblist__content">
              <div class="weblist__text">
                <p>
                  Коректна термінологія щодо інвалідності, сексуальні та
                  репродуктивні права людей з інвалідністю, сексуальне та
                  репродуктивне здоров’я жінок з інвалідністю, доступність
                  послуг з сексуального та репродуктивного здоров’я для людей з
                  інвалідністю в Україні, етика спілкування, навички ефективної
                  комунікації, надання медичної (гінекологічної) допомоги жінкам
                  з інвалідністю
                </p>
              </div>

              <ul class="weblist__info">
                <li class="web-format">
                  <span>Формат</span>
                  <p>Офлайн</p>
                </li>
                <li class="web-forwhom">
                  <span>Для кого</span>
                  <p>Для лікарів акушерів-гінекологів, сімейних лікарів</p>
                </li>
                <li class="web-duration">
                  <span>Тривалість</span>
                  <p>2 дні</p>
                </li>
              </ul>

              <button
                type="button"
                class="btn-def openModal"
                data-id="signupModal"
              >
                Форма Реєстрації
              </button>
            </div>
          </div>
        </div>
      </li>
      <li class="ac">
        <div class="ac-trigger">
          <div class="weblist__top">
            <div class="proj-card__headline">
              <p class="itm-navy">Тривалість: <span>2 дні</span></p>
              <p class="itm-red">Формат: <span>Офлайн</span></p>
            </div>
            <div class="weblist__box">
              <h4 class="title4">
                Надання медичної допомоги в галузі сексуального та
                репродуктивного здоров’я жінкам з інвалідністю
              </h4>
              <span class="weblist__vec"></span>
            </div>
          </div>

          <div class="ac-panel">
            <div class="weblist__content">
              <div class="weblist__text">
                <p>
                  Коректна термінологія щодо інвалідності, сексуальні та
                  репродуктивні права людей з інвалідністю, сексуальне та
                  репродуктивне здоров’я жінок з інвалідністю, доступність
                  послуг з сексуального та репродуктивного здоров’я для людей з
                  інвалідністю в Україні, етика спілкування, навички ефективної
                  комунікації, надання медичної (гінекологічної) допомоги жінкам
                  з інвалідністю
                </p>
              </div>

              <ul class="weblist__info">
                <li class="web-format">
                  <span>Формат</span>
                  <p>Офлайн</p>
                </li>
                <li class="web-forwhom">
                  <span>Для кого</span>
                  <p>Для лікарів акушерів-гінекологів, сімейних лікарів</p>
                </li>
                <li class="web-duration">
                  <span>Тривалість</span>
                  <p>2 дні</p>
                </li>
              </ul>

              <button
                type="button"
                class="btn-def openModal"
                data-id="signupModal"
              >
                Форма Реєстрації
              </button>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <div class="pagination__cont">
      <div
        class="facetwp-facet facetwp-facet-pagination facetwp-type-pager"
        data-name="pagination"
        data-type="pager"
      >
        <div class="facetwp-pager">
          <a class="facetwp-page prev" data-page="1"><span></span></a>
          <a class="facetwp-page first" data-page="1">1</a>
          <a class="facetwp-page active" data-page="2">2</a>
          <a class="facetwp-page" data-page="3">3</a>
          <a class="facetwp-page dots">…</a>
          <a class="facetwp-page last" data-page="12">12</a>
          <a class="facetwp-page next" data-page="3"><span></span></a>
        </div>
      </div>
    </div>
  </div>
</section>
