<div class="navmenu">
  <nav class="navmenu__nav">
    <ul class="navmenu__list">
      <!-- <li class="current-menu-item"><a href="./about.html">Про нас</a></li> -->
      <li class="current-menu-item"><a href="./about.html">Про нас</a></li>
      <li><a href="./projects.html">Проєкти</a></li>
      <li><a href="./partners.html">Партнери та донори</a></li>
      <li><a href="./tenders.html">Тендери</a></li>
      <li><a href="./webinars.html">Навчання</a></li>
      <li><a href="./materials.html">Матеріали</a></li>
    </ul>
  </nav>

  <div class="navmenu__box">
    <ul class="navmenu__lang">
      <li
        id="menu-item-406"
        class="is-active pll-parent-menu-item menu-item current-lang menu-item-type-custom menu-item-object-custom current-menu-parent menu-item-has-children menu-item-406"
      >
        <a href="#">Укр</a>
        <ul class="sub-menu">
          <li
            id="menu-item-406-en"
            class="lang-item lang-item-5 lang-item-en current-lang lang-item-first menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home menu-item-406-en"
          >
            <a href="#" hreflang="en-GB" lang="en-GB">Eng</a>
          </li>
        </ul>
      </li>
      <li
        id="menu-item-406"
        class="pll-parent-menu-item menu-item menu-item-type-custom menu-item-object-custom current-menu-parent menu-item-has-children menu-item-406"
      >
        <a href="#">Eng</a>
      </li>
    </ul>

    <a href="./contact.html" class="btn-def">Звʼязатись</a>
  </div>
</div>
