.projlist {
  padding-top: 5rem;

  &__container {
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  &__search {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 960px) {
  .projlist {
    padding-top: 2rem;

    &__list {
      gap: 1rem;
    }
    &__search {
      flex-direction: column;
      gap: 0.75rem;
    }
  }
}
