.header {
  position: fixed;
  z-index: 90;
  left: 0;
  right: 0;
  top: 0;

  &__main {
    position: relative;
    z-index: 110;
    padding: 1rem 0;
  }
  &__container {
  }

  &__body {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .custom-logo-link {
    width: 3rem;
    display: block;
  }

  .logo__wrapp {
    flex-shrink: 0;
    margin-right: auto;
  }
  .logo__txt {
    display: none;
  }
}

.burger {
  display: none;
}

.homePage {
  .logo__wrapp {
    margin-right: 0;
    position: absolute;
    z-index: 1;
    top: 9rem;
    left: 23.6%;
    display: flex;
    align-items: center;
    gap: 2.24rem;

    .custom-logo-link {
      flex-shrink: 0;
      width: 13.4375rem;
      img {
        width: 100%;
      }
    }
  }
  .logo__txt {
    flex-shrink: 0;
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 29.68175rem;
  }
}

@media screen and (max-width: 960px) {
  .header {
    &__main {
      padding: 1.5rem 0;
    }
    &__body {
      gap: 0;
    }
  }

  .burger {
    position: relative;
    z-index: 2;
    margin-left: auto;
    display: block;
    padding: 0.9531rem 1.4531rem;
    border-radius: 2rem;
    border: 0.0625rem solid var(--cl);
    background-color: var(--cw);

    &__box {
      position: relative;
      width: 1.0938rem;
      height: 0.9688rem;
    }

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 0.125rem;
      background-color: var(--cm);
      border-radius: 2.5rem;
      transform: translateX(-50%) translateY(-40%) rotate(0);

      -webkit-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
      &:first-child {
        top: 0;
        transform: translateX(-50%) translateY(0%);
      }
      &:last-child {
        top: 100%;
        transform: translateX(-50%) translateY(-100%);
      }
    }

    &.isOpened {
      span {
        top: 50%;
        transform: translateX(-70%);
        background-color: var(--cf);
        opacity: 0;
        &:first-child {
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
          opacity: 1;
        }
        &:last-child {
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
          opacity: 1;
        }
      }
    }
  }

  .homePage {
    .logo__wrapp {
      top: 6.5625rem;
      left: 0;
      gap: 1.0625rem;

      .custom-logo-link {
        width: 6.36938rem;
      }
    }
    .logo__txt {
      max-width: 13.75rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
  }
}
