.rep-card {
  border-radius: 1rem;
  border: 0.0625rem solid var(--cl);
  background-color: var(--cw);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.15s ease-in;
  &:hover {
    box-shadow: 0 1.4375rem 1.4375rem 0 rgba(0, 0, 0, 0.02);
  }
}
.rep-card__box {
  position: relative;
  overflow: hidden;
  padding-top: 50%;
}
.rep-card__def {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 25.75rem;
    height: 25.75rem;
    background-color: var(--co2);
    filter: blur(6.5rem);
  }

  img {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    width: 6rem;
    height: 6rem;
    filter: brightness(0) saturate(100%) invert(100%) sepia(3%) saturate(5290%)
      hue-rotate(213deg) brightness(108%) contrast(100%);
  }

  &.card-red {
    &::before {
      background-color: var(--cp2);
      filter: blur(6.5rem);
    }
  }
  &.card-blue {
    &::before {
      background-color: var(--co2);
      filter: blur(6.5rem);
    }
  }
  &.card-yellow {
    &::before {
      background-color: var(--ci2);
      filter: blur(6.5rem);
    }
  }
}
.rep-card__content {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  .title4 {
    flex: 1 1 auto;
    margin-bottom: 1.5rem;
  }
}

.proj-card {
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
  border: 0.0625rem solid var(--cl);
  background: linear-gradient(94deg, #fff 50%, #f6f6f6 106.94%);
  transition: all 0.15s ease-in;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;

  &:hover {
    box-shadow: 0px 37px 37px 0px rgba(0, 0, 0, 0.03);
  }

  .proj-card__headline {
    grid-area: 1 / 1 / 2 / 2;
  }
  .proj-card__img {
    grid-area: 1 / 2 / 3 / 3;
  }
  .proj-card__content {
    grid-area: 2 / 1 / 3 / 2;
  }

  .title4 {
    width: fit-content;
    margin-bottom: 1rem;
  }
  .btn-def {
    margin-top: 1rem;
  }
}
.proj-card__content {
  display: flex;
  flex-direction: column;
}
.proj-card__headline {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  p {
    padding: 0.5rem 0.75rem 0.34rem 0.75rem;
    white-space: nowrap;
    text-wrap: nowrap;
    border-radius: 4rem;
    border: 0.0625rem solid var(--cl);
    color: var(--cf2);
    background-color: var(--cw);
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.33;

    &.itm-black {
      span {
        color: var(--cm);
      }
    }
    &.itm-navy {
      span {
        color: var(--cn);
      }
    }
    &.itm-red {
      span {
        color: var(--cr);
      }
    }
    &.itm-done {
      background-color: var(--cw3);
    }
  }
}
.proj-card__img {
  overflow: hidden;
  border-radius: 1rem;
  background-color: var(--cf3);
  width: 23.5rem;
  height: 18.5rem;
  margin-left: 4.5rem;
}
.proj-card__text {
  flex: 1 1 auto;
  color: rgba(0, 0, 0, 0.64);
  font-size: 0.875rem;
  line-height: 1.42;
  margin-bottom: 1.5rem;
}

.pagination__cont {
  margin-top: 3rem;
  display: flex;
  justify-content: center;

  .facetwp-pager {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
  .facetwp-page {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-in;

    &.active {
      color: var(--cg);
    }
    &:hover {
      color: var(--cg);
    }
  }
  .prev,
  .next {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--cw);
    border: 0.0625rem solid var(--cl);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.25rem;
    span {
      width: 1rem;
      height: 1rem;
      &::before {
        content: "";
        display: block;
        width: 1rem;
        height: 1rem;
        background-size: 1rem 1rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: var(--arrow);
        transition: all 0.15s ease-in;
      }
    }
    &:hover {
      background-color: var(--cw3);
      span {
        &::before {
          background-image: var(--arrowHv);
        }
      }
    }
  }
  .prev {
    margin-left: 0;
    margin-right: 2.25rem;
    span {
      &::before {
        transform: rotate(180deg);
      }
    }
  }
}

.searchform {
  width: 100%;

  .facetwp-facet {
    position: relative;
    overflow: hidden;
    border-radius: 0.75rem;
    border: 0.0625rem solid var(--cl);
    z-index: 1;
    background-color: var(--cw);

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 1.5rem;
      transform: translateY(-50%);
      width: 1.5rem;
      height: 1.5rem;
      background-size: 1.5rem 1.5rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: var(--search);
    }
  }
  .facetwp-input-wrap {
    display: block;
    position: relative;
    z-index: 2;
    input {
      width: 100%;
      padding: 1rem 1.5rem 1rem 3.75rem;

      background-color: transparent;
      font-size: 1.125rem;
      line-height: 1.33;
      &::placeholder {
        color: var(--cf2);
      }
    }
  }
}

.filtercont {
  display: flex;
  gap: 1rem;

  .filter__sort {
    flex-shrink: 0;
    .facetwp-facet {
      display: none;
    }
  }
  .filter__sort-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    padding: 1rem 1.5rem 0.84rem 1.5rem;
    border-radius: 0.75rem;
    border: 0.0625rem solid var(--cl);
    background-color: var(--cw);
    transition: all 150ms ease-in;
    min-width: 13rem;
    span {
      text-wrap: nowrap;
    }

    &::after {
      content: "";
      position: relative;
      top: 0.08rem;
      flex-shrink: 0;
      width: 1.5rem;
      height: 1.5rem;
      background-size: 1.5rem 1.5rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: var(--filter);
    }

    .filter-old {
      display: none;
    }
    &.choice {
      .filter-new {
        display: none;
      }
      .filter-old {
        display: block;
      }
    }
  }

  .filter__type {
    width: 100%;
  }
  .nice-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    background-color: var(--cw);
    padding: 1rem 1.5rem 0.84rem 1.5rem;
    border-radius: 0.75rem;
    border: 0.0625rem solid var(--cl);
    height: auto;
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
    min-width: 25.25rem;
    max-width: 25.25rem;

    &:after {
      flex-shrink: 0;
      border: none;
      width: 1.5rem;
      height: 1.5rem;
      margin-top: 0;
      position: static;
      transform: rotateX(0);
      transform-origin: center;
      background-repeat: no-repeat;
      background-size: 1.5rem 1.5rem;
      background-position: center center;
      background-image: var(--select);
      transition: all 0.15s ease-in;
    }
    &:active,
    &:focus,
    &.open {
      border-color: var(--cl);
    }
    &.open {
      &::after {
        transform: rotateX(-180deg);
      }
    }

    .list {
      border-radius: 0;
    }
    .option {
      padding: 0.75rem 1.5rem;
      line-height: 1.5;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &.selected {
        font-weight: 600;
      }
    }

    .current {
      position: relative;
      top: 0.08rem;
      width: 100%;

      & > span {
        padding-left: 0.25rem;
        font-weight: 600;
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: calc(100% - 2.25rem);
      }
    }

    .nice-select-dropdown {
      overflow: hidden;
      background-color: var(--cw);
      width: 100%;
      border: 0.0625rem solid var(--cl);
      border-radius: 0.75rem;
    }
  }
}

@media screen and (max-width: 960px) {
  .rep-card__def {
    img {
      width: 5rem;
      height: 5rem;
    }
  }
  .rep-card__content {
    .btn-def {
      width: 100%;
      padding: 0.63rem 1.5rem;
    }
  }

  .proj-card {
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    align-items: center;

    &:hover {
      box-shadow: none;
    }
  }
  .proj-card__img {
    width: 18.5rem;
    height: 16.5rem;
    margin-left: 1.5rem;
  }
  .proj-card__text {
    margin-bottom: 1rem;
  }

  .pagination__cont {
    margin-top: 2rem;

    .facetwp-facet {
      width: 100%;
      max-width: 25rem;
    }

    .prev,
    .next {
      margin-left: auto;
    }
    .prev {
      margin-left: 0;
      margin-right: auto;
    }
  }

  .searchform {
    .facetwp-facet {
      &::before {
        left: 1rem;
        width: 1.25rem;
        height: 1.25rem;
        background-size: 1.25rem 1.25rem;
      }
    }
    .facetwp-input-wrap {
      input {
        padding: 0.75rem 1rem 0.75rem 3rem;
        font-size: 1rem;
        line-height: 1.5;
      }
    }
  }

  .filtercont {
    .filter__sort-btn {
      min-width: auto;
      padding: 0.75rem;
      span {
        display: none;
      }

      &.choice {
        .filter-old {
          display: none;
        }
      }
    }

    .nice-select {
      gap: 0.5rem;
      padding: 0.75rem 1rem;
      font-size: 0.875rem;
      line-height: 1.42;
      min-width: auto;
      max-width: 100%;

      .option {
        padding: 0.75rem 1rem;
        line-height: 1.42;
      }
      .current {
        & > span {
          width: calc(100% - 2rem);
        }
      }
    }
  }
}

@media screen and (max-width: 675px) {
  .proj-card {
    grid-template-columns: auto;
    grid-template-rows: auto;

    .proj-card__headline,
    .proj-card__img,
    .proj-card__content {
      grid-area: auto;
    }

    .btn-def {
      width: 100%;
    }
  }
  .proj-card__img {
    width: 100%;
    height: auto;
    padding-top: 60%;
    margin-left: 0;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .class {
  }
}
