.splide__arrows {
  display: none !important;
}

.el-mob {
  display: none;
}

.bluePage {
  .bg-page {
    background: linear-gradient(180deg, #d2edff -11.13%, #f9f9f9 30.93%);
  }
  .mailing__wrapp {
    background: linear-gradient(180deg, #eaf8ff 0%, #f9f9f9 74.14%);
  }
  .mailing__img {
    filter: brightness(0) saturate(100%) invert(93%) sepia(10%) saturate(1432%)
      hue-rotate(175deg) brightness(99%) contrast(104%);
  }
  .tl-img {
    img {
      filter: brightness(0) saturate(100%) invert(82%) sepia(12%)
        saturate(6843%) hue-rotate(185deg) brightness(119%) contrast(101%);
    }
  }
}
.redPage {
  .bg-page {
    background: linear-gradient(180deg, #fecdd7 -11.13%, #f9f9f9 30.93%);
  }
  .mailing__wrapp {
    background: linear-gradient(180deg, #fff0f3 0%, #f9f9f9 60.43%);
  }
  .mailing__img {
    filter: brightness(0) saturate(100%) invert(84%) sepia(8%) saturate(801%)
      hue-rotate(300deg) brightness(101%) contrast(99%);
  }
  .tl-img {
    img {
      filter: brightness(0) saturate(100%) invert(62%) sepia(39%) saturate(368%)
        hue-rotate(298deg) brightness(108%) contrast(99%);
    }
  }
}
.yellowPage {
  .bg-page {
    background: linear-gradient(180deg, #ecead8 -11.13%, #f9f9f9 30.93%);
  }
  .mailing__wrapp {
    background: linear-gradient(180deg, #f5f3e9 0%, #f9f9f9 75.51%);
  }
  .mailing__img {
    filter: brightness(0) saturate(100%) invert(96%) sepia(17%) saturate(211%)
      hue-rotate(342deg) brightness(93%) contrast(99%);
  }
  .tl-img {
    img {
      filter: brightness(0) saturate(100%) invert(88%) sepia(11%) saturate(569%)
        hue-rotate(10deg) brightness(94%) contrast(90%);
    }
  }
}

.bg-page {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 46.875rem;
  width: 100%;
  background: linear-gradient(180deg, #d2edff -11.13%, #f9f9f9 30.93%);
}

.first-sec {
  padding-top: 9rem;
}
.sec-pd1 {
  padding-top: 10rem;
}
.sec-pd2 {
  padding-top: 7.5rem;
}

[class*="__container-hero_sec"] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title1 {
  color: var(--cn);
  font-size: 5.5rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.title2 {
  color: var(--cn);
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.title3 {
  color: var(--cn);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.25;
}
.title4 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.33;
}

.tl-img {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  img {
    transform: translateY(0.1rem);
    width: 3.5rem;
    height: 3.5rem;
    filter: brightness(0) saturate(100%) invert(82%) sepia(12%) saturate(6843%)
      hue-rotate(185deg) brightness(119%) contrast(101%);
  }
}

.text-page {
  color: var(--cf);
  font-size: 1.125rem;
  line-height: 1.33;
  text-align: center;
  max-width: 49.375rem;
}

.btn-def {
  display: block;
  width: fit-content;
  text-align: center;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  font-weight: 600;
  background-color: var(--cw);
  border: 0.0625rem solid var(--cm);
  transition: all 0.15s ease-in;

  &:hover {
    background-color: var(--cr);
    border-color: var(--cr);
    color: var(--cw);
  }
  &.btn-hv2 {
    &:hover {
      background-color: var(--cw);
      border-color: var(--cr);
      color: var(--cr);
    }
  }
}

.label-def {
  display: flex;
  flex-direction: column;
  p {
    margin-bottom: 0.5rem;
    color: var(--cb);
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.33;
  }
  &.isRequire {
    p {
      color: var(--cr);
    }
    .input-def {
      input {
        border-color: var(--cp);
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 1.5rem;
        transform: translateY(-50%);
        width: 1.5rem;
        height: 1.5rem;
        background-size: 1.5rem 1.5rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: var(--require);
      }
    }
  }
}
.input-def,
.area-def {
  position: relative;
  input,
  textarea {
    width: 100%;
    border-radius: 0.75rem;
    border: 0.0625rem solid var(--cl);
    background-color: var(--cw);
    padding: 1rem 3.5rem 0.84rem 1.5rem;
    &::placeholder {
      color: var(--cf2);
    }
  }
}

.heading-btn {
  position: relative;
  & > .btn-def {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.heading-btn__inf {
  width: 100%;
  margin-bottom: 2rem;
  padding-right: 13rem;
}

.heading-splide {
  position: relative;
  .arrows {
    position: absolute;
    top: 0.25rem;
    right: 0;
  }
}
.heading-splide__top {
  width: 100%;
  margin-bottom: 2rem;
  padding-right: 13rem;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem 1rem;

  & > li {
    flex-basis: calc((100% - 2 * 1rem) / 3);
  }
}

.partnblock {
  &__wrapp {
    overflow: hidden;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: -0.0625rem;
  }

  &__item {
    position: relative;
    flex-basis: calc((100% - 3 * 0rem) / 4);
    min-height: 14.5rem;
    padding: 1rem;
    border-bottom: 0.0625rem solid var(--cf3);

    &:nth-child(n + 2):nth-child(-n + 4) {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0.0625rem;
        background-color: var(--cf3);
        height: calc(100vh * 3);
      }
    }
  }

  &__box {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    & > img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      max-height: 100%;
    }
  }
  &__placehld {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    span {
      width: 3.3125rem;
    }
    p {
      color: var(--cb);
      text-align: center;
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 1.33;
      text-transform: uppercase;
    }
  }

  .title2 {
    margin-bottom: 2rem;
  }
}

.arrows {
  &__body {
    display: flex;
    gap: 1rem;
  }

  &__prev,
  &__next {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-color: var(--cw);
    border: 0.0625rem solid var(--cl);
    transition: all 0.15s ease-in;

    &:hover {
      background-color: var(--cw3);
      &::before {
        background-image: var(--arrowHv);
      }
    }

    &::before {
      content: "";
      flex-shrink: 0;
      width: 1rem;
      height: 1rem;
      background-size: 1rem 1rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: var(--arrow);
      transition: all 0.15s ease-in;
    }

    &.isDisabled {
      background-color: var(--cw3) !important;
      &::before {
        background-image: var(--arrowHv) !important;
      }
    }
  }

  &__prev {
    &::before {
      transform: rotateY(180deg);
    }
  }
}

@media screen and (max-width: 960px) {
  .el-desc {
    display: none;
  }
  .el-mob {
    display: block;
  }

  .bluePage {
    .bg-page {
      background: linear-gradient(180deg, #d2edff 0%, #f9f9f9 32%);
    }
  }
  .redPage {
    .bg-page {
      background: linear-gradient(180deg, #fecdd7 -8.81%, #f9f9f9 26.01%);
    }
  }
  .yellowPage {
    .bg-page {
      background: linear-gradient(180deg, #f5f3e9 0%, #f9f9f9 32%);
    }
  }

  .bg-page {
    background: linear-gradient(180deg, #d2edff 0%, #f9f9f9 32%);
    height: 50.75rem;
  }

  .first-sec {
    padding-top: 8rem;
  }
  .sec-pd1 {
    padding-top: 6.5rem;
  }
  .sec-pd2 {
    padding-top: 8rem;
  }

  [class*="__container-hero_sec"] {
    align-items: start;
  }

  .title1 {
    font-size: 2.75rem;
    line-height: 1.09;
    margin-bottom: 1.5rem;
  }
  .title2 {
    font-size: 2rem;
    line-height: 1.25;
  }
  .title3 {
    font-size: 1.5rem;
    line-height: 1.33;
  }
  .title4 {
    font-size: 1.125rem;
    font-weight: 600;
  }

  .tl-img {
    gap: 0.5rem 0.75rem;
    justify-content: start;
    img {
      transform: translateY(-0.2rem);
      width: 2.75rem;
      height: 2.75rem;
    }
  }

  .text-page {
    font-size: 1rem;
    line-height: 1.5;
    text-align: start;
    max-width: 100%;
  }

  .btn-def {
    padding: 0.75rem 1.5rem;
  }

  .input-def,
  .area-def {
    input {
      padding: 0.75rem 3rem 0.75rem 1rem;
    }
    textarea {
      padding: 0.75rem 1rem;
    }
  }

  .heading-btn {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > .btn-def {
      position: static;
      margin-top: 2rem;
      width: 100%;
      max-width: 21.5rem;
    }
  }
  .heading-btn__inf {
    margin-bottom: 1rem;
    padding-right: 0;
  }

  .heading-splide {
    .arrows {
      position: static;
      margin-top: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 1.5rem;

      &::before {
        content: "";
        width: 100%;
        height: 0.0625rem;
        background-color: var(--cl);
      }
    }
  }
  .heading-splide__top {
    margin-bottom: 1.5rem;
    padding-right: 0;
  }

  .cards-list {
    gap: 1rem;
    & > li {
      flex-basis: calc((100% - 1 * 1rem) / 2);
    }
  }

  .partnblock {
    &__item {
      flex-basis: calc((100% - 2 * 0rem) / 3);
      min-height: 9.125rem;
      padding: 0.5625rem;

      &:nth-child(n + 2):nth-child(-n + 4) {
        &::before {
          display: none;
        }
      }
      &:nth-child(n + 2):nth-child(-n + 3) {
        &::before {
          display: block;
        }
      }
    }

    &__placehld {
      gap: 0.5rem;
      span {
        width: 2.7rem;
      }
    }

    .title2 {
      margin-bottom: 1rem;
    }
  }

  .arrows {
    &__body {
      gap: 0.75rem;
    }

    &__prev,
    &__next {
      &:hover {
        background-color: var(--cw);
        &::before {
          background-image: var(--arrow);
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .partnblock {
    &__item {
      flex-basis: calc((100% - 1 * 0rem) / 2);

      &:nth-child(n + 2):nth-child(-n + 4) {
        &::before {
          display: none;
        }
      }
      &:nth-child(n + 2):nth-child(-n + 2) {
        &::before {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 675px) {
  .cards-list {
    & > li {
      flex-basis: 100%;
    }
  }
}
