.el-mob {
  display: none;
}

.bluePage {
  .bg-page {
    background: linear-gradient(180deg, #d2edff -11.13%, #f9f9f9 30.93%);
  }
  .mailing__wrapp {
    background: linear-gradient(180deg, #eaf8ff 0%, #f9f9f9 74.14%);
  }
  .mailing__img {
    filter: brightness(0) saturate(100%) invert(93%) sepia(10%) saturate(1432%)
      hue-rotate(175deg) brightness(99%) contrast(104%);
  }
  .tl-img {
    img {
      filter: brightness(0) saturate(100%) invert(82%) sepia(12%)
        saturate(6843%) hue-rotate(185deg) brightness(119%) contrast(101%);
    }
  }
}
.redPage {
  .bg-page {
    background: linear-gradient(180deg, #fecdd7 -11.13%, #f9f9f9 30.93%);
  }
  .mailing__wrapp {
    background: linear-gradient(180deg, #fff0f3 0%, #f9f9f9 60.43%);
  }
  .mailing__img {
    filter: brightness(0) saturate(100%) invert(84%) sepia(8%) saturate(801%)
      hue-rotate(300deg) brightness(101%) contrast(99%);
  }
  .tl-img {
    img {
      filter: brightness(0) saturate(100%) invert(62%) sepia(39%) saturate(368%)
        hue-rotate(298deg) brightness(108%) contrast(99%);
    }
  }
}
.yellowPage {
  .bg-page {
    background: linear-gradient(180deg, #ecead8 -11.13%, #f9f9f9 30.93%);
  }
  .mailing__wrapp {
    background: linear-gradient(180deg, #f5f3e9 0%, #f9f9f9 75.51%);
  }
  .mailing__img {
    filter: brightness(0) saturate(100%) invert(96%) sepia(17%) saturate(211%)
      hue-rotate(342deg) brightness(93%) contrast(99%);
  }
  .tl-img {
    img {
      filter: brightness(0) saturate(100%) invert(88%) sepia(11%) saturate(569%)
        hue-rotate(10deg) brightness(94%) contrast(90%);
    }
  }
}

.bg-page {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 46.875rem;
  width: 100%;
  background: linear-gradient(180deg, #d2edff -11.13%, #f9f9f9 30.93%);
}

.first-sec {
  padding-top: 9rem;
}
.sec-pd {
  padding-top: 10rem;
}

[class*="__container-hero_sec"] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title1 {
  font-size: 5.5rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.title2 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.title3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.25;
}
.title4 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.33;
}

.tl-img {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  img {
    transform: translateY(0.1rem);
    width: 3.5rem;
    height: 3.5rem;
    filter: brightness(0) saturate(100%) invert(82%) sepia(12%) saturate(6843%)
      hue-rotate(185deg) brightness(119%) contrast(101%);
  }
}

.text-page {
  color: var(--cf);
  font-size: 1.125rem;
  line-height: 1.33;
  text-align: center;
  max-width: 49.375rem;
}

.btn-def {
  display: block;
  width: fit-content;
  text-align: center;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  font-weight: 600;
  background-color: var(--cw);
  border: 0.0625rem solid var(--cm);
  transition: all 0.15s ease-in;

  &.btn-hv1 {
    &:hover {
      background-color: var(--cr);
      border-color: var(--cr);
      color: var(--cw);
    }
  }
  &.btn-hv2 {
    &:hover {
      border-color: var(--cr);
      color: var(--cr);
      background-color: var(--cw);
    }
  }
}

.heading-block {
  position: relative;
  & > .btn-def {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.heading-block__inf {
  width: 100%;
  margin-bottom: 2.5rem;
  padding-right: 13rem;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem 1rem;

  & > li {
    flex-basis: calc((100% - 2 * 1rem) / 3);
  }
}

@media screen and (max-width: 960px) {
  .el-desc {
    display: none;
  }
  .el-mob {
    display: block;
  }

  .bluePage {
    .bg-page {
      background: linear-gradient(180deg, #d2edff 0%, #f9f9f9 32%);
    }
  }
  .redPage {
    .bg-page {
      background: linear-gradient(180deg, #fecdd7 -8.81%, #f9f9f9 26.01%);
    }
  }
  .yellowPage {
    .bg-page {
      background: linear-gradient(180deg, #f5f3e9 0%, #f9f9f9 32%);
    }
  }

  .bg-page {
    background: linear-gradient(180deg, #d2edff 0%, #f9f9f9 32%);
    height: 50.75rem;
  }

  .first-sec {
    padding-top: 8rem;
  }
  .sec-pd {
    padding-top: 6.5rem;
  }

  [class*="__container-hero_sec"] {
    align-items: start;
  }

  .title1 {
    font-size: 2.75rem;
    line-height: 1.09;
    margin-bottom: 1.5rem;
  }
  .title2 {
    font-size: 2rem;
    line-height: 1.25;
  }
  .title3 {
    font-size: 1.5rem;
    line-height: 1.33;
  }
  .title4 {
    font-size: 1.125rem;
    font-weight: 600;
  }

  .tl-img {
    gap: 0.5rem 0.75rem;
    justify-content: start;
    img {
      transform: translateY(0);
      width: 2.75rem;
      height: 2.75rem;
    }
  }

  .text-page {
    font-size: 1rem;
    line-height: 1.5;
    text-align: start;
    max-width: 100%;
  }

  .btn-def {
    padding: 0.75rem 1.5rem;
  }

  .heading-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > .btn-def {
      position: static;
      margin-top: 2rem;
      width: 100%;
      max-width: 21.5rem;
    }
  }
  .heading-block__inf {
    margin-bottom: 1.5rem;
    padding-right: 0;
  }
}

@media screen and (max-width: 875px) {
  .cards-list {
    & > li {
      flex-basis: calc((100% - 1 * 1rem) / 2);
    }
  }
}
@media screen and (max-width: 675px) {
  .cards-list {
    gap: 1rem;
    & > li {
      flex-basis: 100%;
    }
  }
}
