body {
  /* Colors */
  --cm: #171717;
  --cb: #000;
  --cg: #888;
  --cf: #4f4f4f;
  --cf2: #6d6d6d;
  --cf3: #d9d9d9;
  --cw: #fff;
  --cw2: #f9f9f9;
  --cl: #e7e7e7;
  --cw3: #f6f6f6;
  --cw4: #D1D1D1;
  --cr: #e4215c;
  --cr2: #E95377;
  --cp: #fecdd7;
  --cp3: #FFF0F3;
  --cp2: #fea3b7;
  --co: #d2edff;
  --co2: #afdfff;
  --ci: #ecead8;
  --ci2: #dad1ae;
  --ck: #f7e9db;
  --cn: #072058;

  /* Fonts */
  --ff: "Fixel Display", sans-serif;
}
