body {
  /* Colors */
  --cm: #171717;
  --cb: #000;
  --cg: #888;
  --cf: #4f4f4f;
  --cf2: #6d6d6d;
  --cw: #fff;
  --cw2: #f9f9f9;
  --cw3: #f6f6f6;
  --cl: #e7e7e7;
  --cr: #e4215c;
  --cb: #072058;

  /* Fonts */
  --ff: "Fixel Display", sans-serif;
}
