/* Settings */
@import url('./settings/fonts.scss');
@import url('./index/variables.scss');
@import url('./index/icons.scss');
@import url('./settings/default.scss');

@import url('./settings/general.scss');
@import url('./index/embeded.scss');
@import url('./index/elements.scss');
@import url('./index/cluster.scss');

/* General */
@import url('./sections/general/modal.scss');
@import url('./sections/general/mailing.scss');

/* Header */
@import url('./sections/header/header.scss');
@import url('./sections/header/parts/navmenu.scss');
@import url('./sections/header/parts/mobmenu.scss');

/* Home */
@import url('./sections/home/hero.scss');
@import url('./sections/home/banner.scss');

/* Projects */
@import url('./sections/projects/projects.scss');

/* Project */
@import url('./sections/project/project.scss');

/* Webinars */
@import url('./sections/webinars/webinars.scss');

/* Contacts */
@import url('./sections/contacts/contacts.scss');

/* About */
@import url('./sections/about/about.scss');

/* Tenders */
@import url('./sections/tenders/tenders.scss');

/* Tender */
@import url('./sections/tender/tender.scss');

/* Partners */
@import url('./sections/partners/partners.scss');

/* Materials */
@import url('./sections/materials/materials.scss');

/* Reports */
@import url('./sections/reports/reports.scss');

/* Error */
@import url('./sections/error/error.scss');

/* Footer */
@import url('./sections/footer/footer.scss');
