/* Settings */
@import url('./settings/fonts.scss');
@import url('./index/variables.scss');
@import url('./index/icons.scss');
@import url('./settings/default.scss');

@import url('./settings/general.scss');
@import url('./index/embeded.scss');
@import url('./index/elements.scss');
@import url('./index/cluster.scss');

/* General */
@import url('./sections/general/modal.scss');
@import url('./sections/general/mailing.scss');
@import url('./sections/general/banner.scss');
@import url('./sections/general/article.scss');

/* Header */
@import url('./sections/header/header.scss');
@import url('./sections/header/parts/navmenu.scss');
@import url('./sections/header/parts/mobmenu.scss');

/* Home */
@import url('./sections/home/hero.scss');

/* Projects */
@import url('./sections/projects/projlist.scss');

/* Project */
@import url('./sections/project/project.scss');
@import url('./sections/project/projmore.scss');

/* Webinars */
@import url('./sections/webinars/weblist.scss');

/* Contacts */
@import url('./sections/contacts/contactus.scss');

/* About */
@import url('./sections/about/about.scss');
@import url('./sections/about/member.scss');
@import url('./sections/about/team.scss');

/* Tender */
@import url('./sections/tender/tender.scss');

/* Partners */
@import url('./sections/partners/ukrpartn.scss');

/* Materials */
@import url('./sections/materials/materials.scss');

/* Reports */
@import url('./sections/reports/replist.scss');

/* Error */
@import url('./sections/error/error.scss');

/* Policy */
@import url('./sections/policy/policy.scss');

/* Footer */
@import url('./sections/footer/footer.scss');
