.article {
  .article__heading {
    margin-bottom: 4rem;

    .proj-card__headline {
      margin-bottom: 1.5rem;
    }

    h1 {
      color: var(--cb);
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 1.2;
    }
  }

  .article__main {
    display: grid;
    grid-template-columns: 1fr 52.3125rem 1fr;
  }
  .article__sidebar {
    position: relative;
    margin-right: 7.6875rem;
    width: 12.3125rem;
  }
  .article__tabs {
    position: sticky;
    top: 9rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    a {
      width: fit-content;
      display: block;
      font-size: 0.75rem;
      font-weight: 600;
      line-height: 1.33;
      transition: all 0.15s ease-in;
      &.active {
        color: var(--cr);
      }
    }
  }
}

.article__embeded {
  & > * {
    margin-top: 1rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
      border-bottom: none !important;
    }
  }

  & > p {
    color: var(--cf);

    a {
      color: var(--cn);
      font-weight: 600;
      text-decoration: underline !important;
      text-underline-position: under;
      text-decoration-thickness: 1px !important;
    }
  }

  & > b {
    display: block;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.33;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  h2 {
    font-size: 2rem;
    line-height: 1.25;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
  h3,
  h4 {
    font-size: 1.5rem;
    line-height: 1.33;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  & > ul {
    color: var(--cf);
    margin-left: 1.55rem;

    li {
      margin-bottom: 0.5rem;
      list-style: disc;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.article__soc {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: end;
}
.article__soc-box {
  position: sticky;
  top: 9rem;

  p {
    display: none;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.0625rem solid var(--cl);
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.5rem;
    }
  }
}

.article__download {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.download {
  &__link {
    position: relative;
    display: flex;
    width: 100%;
    border-radius: 1rem;
    border: 0.0625rem solid var(--cl);
    background-color: var(--cw);
    padding: 1.25rem 2rem;
  }
  &__txt {
    width: 100%;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.33;
    padding-right: 3rem;
  }
  &__icon {
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    flex-shrink: 0;
  }
}

.article__email {
  margin: 1.5rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 1rem 6.4375rem;
  .contactus__box {
    p {
      color: var(--cf);
    }
  }
}

.article__img {
  margin: 3rem 0;
  overflow: hidden;
  border-radius: 1.5rem;
  height: 28rem;
}
.article__img-splide {
  margin: 3rem 0;
  position: relative;

  .splide__track {
    border-radius: 1.5rem;
  }
  .splide__slide {
    height: 28rem;
  }
  .arrows {
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
  }
  .arrows__body {
    gap: 0.75rem;
  }
}

.article__person {
  margin: 3rem 0;
  padding: 1.5rem 0;
  border-top: 0.0625rem solid var(--cl);
  border-bottom: 0.0625rem solid var(--cl);
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 32.3125rem;
  gap: 2rem;
}
.person {
  &__box {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
  &__ava {
    overflow: hidden;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
  }
  &__ava-def {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cp2);
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.5rem;
    }
  }
  &__name {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.42;
    margin-bottom: 0.25rem;
  }
  &__position {
    font-size: 0.75rem;
    line-height: 1.33;
  }
  &__mess {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.33;
  }
}

.article-alter {
  .article__heading {
    margin-left: 20rem;
    width: 52.3125rem;
    margin-bottom: 3rem;
    h1 {
      font-size: 2rem;
      line-height: 1.25;
    }
  }
  .article__tabs {
    gap: 1.5rem;
  }
}

@media screen and (max-width: 960px) {
  .article {
    .article__heading {
      margin-bottom: 2.5rem;

      h1 {
        font-size: 1.5rem;
        line-height: 1.33;
      }
    }
    .article__main {
      grid-template-columns: 1fr;
    }
    .article__sidebar {
      display: none;
    }
  }

  .article__embeded {
    & > p {
      font-size: 0.875rem;
      line-height: 1.42;
    }

    & > b {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    h2 {
      font-size: 1.125rem;
      line-height: 1.33;
      margin-top: 2.5rem;
      margin-bottom: 1rem;
    }
    h3,
    h4 {
      font-size: 1rem;
      line-height: 1.5;
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }
  }

  .article__soc {
    margin-top: 3rem;
    justify-content: start;
  }
  .article__soc-box {
    position: static;
    p {
      display: block;
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1.42;
      margin-bottom: 0.75rem;
    }
    ul {
      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  .article__download {
    margin: 2rem 0;
  }
  .download {
    &__link {
      padding: 1rem;
    }
    &__txt {
      font-size: 1rem;
      line-height: 1.5;
      padding-right: 2.5rem;
    }
    &__icon {
      right: 1rem;
      width: 1.5rem;
    }
  }

  .article__email {
    margin: 1.5rem 0;
    gap: 1rem 5rem;
  }

  .article__img {
    margin: 2rem 0;
    border-radius: 0.75rem;
    height: auto;
    padding-top: 65%;
  }
  .article__img-splide {
    margin: 2rem 0;

    .splide__track {
      border-radius: 0.75rem;
    }
    .splide__slide {
      height: auto;
      padding-top: 65%;
    }
    .arrows {
      bottom: 0.75rem;
      left: 0.75rem;
    }
    .arrows__body {
      gap: 0.5rem;
    }
    .arrows__prev,
    .arrows__next {
      width: 2.5rem;
      height: 2.5rem;
      &::before {
        width: 1rem;
        height: 1rem;
        background-size: 1rem 1rem;
      }
    }
  }

  .article__person {
    margin: 2rem 0;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .person {
    &__ava {
      width: 3rem;
      height: 3rem;
    }
    &__ava-def {
      span {
        width: 1.25rem;
      }
    }
    &__mess {
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.5;
    }
  }

  .article-alter {
    .article__heading {
      margin-left: 0;
      width: 100%;
      margin-bottom: 2rem;
      h1 {
        font-size: 1.5rem;
        line-height: 1.33;
      }
    }
  }
}
