.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  display: flex;
  flex-flow: column nowrap;
  background-color: rgba(23, 23, 23, 0.32);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.isAnimation {
    -webkit-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
  }

  &.isOpened {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    .modal__body {
      transform: scale(1);
    }
  }

  &__container {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
  }

  &__body {
    flex: 0 0 auto;
    margin: 4rem 0;
    position: relative;
    background-color: var(--cw);
    border-radius: 1.25rem;
    max-width: 32rem;
    width: 100%;
    overflow: hidden;
    padding: 2rem;
    transform: scale(0.9);

    -webkit-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
  }

  &__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-in;
    &:hover {
      opacity: 0.5;
    }
  }

  &__text {
    color: var(--cf2);
    font-size: 0.875rem;
    line-height: 1.42;
    margin-bottom: 1.5rem;
  }
  &__box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
  }
  &__agree {
    margin-top: 1rem;
    color: var(--cf2);
    text-align: center;
    font-size: 0.75rem;
    line-height: 1.33;
    a {
      color: var(--cn);
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 19.25rem;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  &__part1,
  &__part2 {
    &.stepModal {
      display: none;
    }
  }

  &__part2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    .modal__text {
      text-align: center;
      margin-bottom: 2rem;
    }
  }

  .btn-def {
    width: 100%;
  }
  .title3 {
    width: 100%;
    margin-bottom: 1rem;
    padding-right: 4rem;
  }
}

@media screen and (max-width: 960px) {
  .modal {
    &__container {
      padding: 0 1rem;
    }
    &__body {
      padding: 1.5rem 1rem;
      border-radius: 1rem;
      margin: 3rem 0;
    }
    &__close {
      top: 1.5rem;
      right: 1rem;
      width: 1.5rem;
      height: 1.5rem;
    }

    &__text {
      margin-bottom: 2rem;
    }
    &__box {
      margin-bottom: 2rem;
    }

    .title3 {
      margin-bottom: 0.5rem;
      padding-right: 3rem;
    }

    &__part2 {
      .modal__text {
        margin-bottom: 1.5rem;
      }
    }
  }
}
