<section class="banner">
  <div class="banner__carousell">
    <ul class="banner__list carousell-part1">
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann1.svg" alt="" />
          </span>
          <p>Гарантуємо підтримку</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann2.svg" alt="" />
          </span>
          <p>Гарантуємо успіх</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann3.svg" alt="" />
          </span>
          <p>Кваліфіковані лікарі</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann4.svg" alt="" />
          </span>
          <p>Рухаємося разом до цілі</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann5.svg" alt="" />
          </span>
          <p>Досліджуйте себе</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann6.svg" alt="" />
          </span>
          <p>Належні умови</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann1.svg" alt="" />
          </span>
          <p>Якісна допомога</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann2.svg" alt="" />
          </span>
          <p>Статеве виховання</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann3.svg" alt="" />
          </span>
          <p>Репродуктивне здоров’я</p>
        </div>
      </li>
    </ul>

    <ul class="banner__list carousell-part2">
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann1.svg" alt="" />
          </span>
          <p>Гарантуємо підтримку</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann2.svg" alt="" />
          </span>
          <p>Гарантуємо успіх</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann3.svg" alt="" />
          </span>
          <p>Кваліфіковані лікарі</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann4.svg" alt="" />
          </span>
          <p>Рухаємося разом до цілі</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann5.svg" alt="" />
          </span>
          <p>Досліджуйте себе</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann6.svg" alt="" />
          </span>
          <p>Належні умови</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann1.svg" alt="" />
          </span>
          <p>Якісна допомога</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann2.svg" alt="" />
          </span>
          <p>Статеве виховання</p>
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__box">
          <span class="no-select">
            <img src="./img/icons/bann3.svg" alt="" />
          </span>
          <p>Репродуктивне здоров’я</p>
        </div>
      </li>
    </ul>
  </div>
</section>
