<section class="fundmatrl sec-pd1">
  <div class="fundmatrl__container">
    <div class="fundmatrl__img">
      <img src="./img/content/fundmatrl1.png" alt="" />
    </div>

    <div class="fundmatrl__content">
      <div class="fundmatrl__heading">
        <p>Важливі ресурси</p>
      </div>
      <h2 class="title2">матеріали фонду</h2>
      <div class="fundmatrl__text">
        <p>
          Ознайомтесь із матеріалами нашого фонду – корисні посібники, статті та
          відео, що допоможуть вам розширити свої знання.
        </p>
      </div>
      <a href="./materials.html" class="btn-def">Детальніше</a>
    </div>
  </div>
</section>
