<section class="hero first-sec">
  <div class="hero__container-hero_sec">
    <h1 class="title1 tl-img">
      <span class="tl-part1">ЗДОРОВ’Я ЖІНКИ</span>
      <img src="./img/icons/tl_ic1.svg" alt="" class="stl-img" />
      <span class="tl-part2">І ПЛАНУВАННЯ СіМ’Ї</span>
    </h1>
    <div class="text-page">
      <p>
        20 років послідовно та активно працюємо у сфері збереження
        репродуктивного здоров'я та захисту репродуктивних прав українського
        народу
      </p>
    </div>
  </div>
</section>
