<section class="hero">
  <div class="hero__container">
    <div class="hero__body">
      <div class="hero__box">
        <div class="text-page">
          <p>
            28 років послідовно та активно працюємо у сфері збереження
            репродуктивного здоров'я та захисту репродуктивних прав українського
            народу
          </p>
        </div>
      </div>

      <div class="hero__vec">
        <img src="./img/decor/hero.png" alt="" />
      </div>

      <div class="hero__filter"></div>
    </div>
  </div>
</section>
