<section class="inspiration sec-pd1">
  <div class="inspiration__container">
    <div class="inspiration__content">
      <div class="fundmatrl__heading">
        <p>Історії сили духу</p>
      </div>
      <h2 class="title2">Шлях Натхнення - Ваші Історії</h2>
      <div class="inspiration__text">
        <p>
          Ми радіємо, коли знаємо, що вдалося допомогти хоча б одній людині.
          Працюємо для того, аби таких красивих і успішних історій було ще
          більше
        </p>
      </div>
    </div>

    <div class="inspiration__box">
      <h3 class="title3">Людмила Андрюні</h3>
      <div class="inspiration__desc">
        <p>
          Людмила уже 30 років пересувається у колісному кріслі. Вона у свій час
          була чи не єдиною жінкою в регіоні, яка маючи порушення
          опорно-рухового апарату завагітніла і народила дитину. А потім ще
          одну.
        </p>
      </div>
      <div class="inspiration__video">
        <div class="inspiration__media">
          <video poster="./img/content/video1.jpg" preload="metadata">
            <source src="./img/media/mov-mp4.mp4" type="video/mp4" />
            <source src="./img/media/mov-webm.webm" type="video/webm" />
          </video>
        </div>

        <button type="button" class="video__play">
          <span>
            <img src="./img/icons/play.svg" alt="" />
          </span>
        </button>
      </div>

      <div class="inspiration__name">
        <p>Дізнатися повну історію Людмили</p>
      </div>
    </div>
  </div>
</section>
