<section class="latestrep sec-pd">
  <div class="latestrep__container">
    <div class="heading-block">
      <div class="heading-block__inf">
        <h2 class="title2">ОСТАННІ ЗВІТИ</h2>
      </div>
      <ul class="cards-list">
        <li class="rep-card">
          <a href="#" class="rep-card__box rep-card__img-ibg">
            <img src="./img/content/project1.jpg" alt="" />
          </a>
          <div class="rep-card__content">
            <a href="#" class="title4">Звіт про діяльність фонду за 2023 рік</a>
            <button type="button" class="btn-def btn-hv2">Переглянути</button>
          </div>
        </li>
        <li class="rep-card">
          <a href="#" class="rep-card__box rep-card__def card-red">
            <img src="./img/icons/tl_ic6.svg" alt="" />
            <div class="rep-card__bg"></div>
          </a>
          <div class="rep-card__content">
            <a href="#" class="title4">Звіт про діяльність фонду за 2023 рік</a>
            <button type="button" class="btn-def btn-hv2">Переглянути</button>
          </div>
        </li>
        <li class="rep-card">
          <a href="#" class="rep-card__box rep-card__def card-yellow">
            <img src="./img/icons/tl_ic2.svg" alt="" />
            <div class="rep-card__bg"></div>
          </a>
          <div class="rep-card__content">
            <a href="#" class="title4">Звіт про діяльність фонду за 2023 рік</a>
            <button type="button" class="btn-def btn-hv2">Переглянути</button>
          </div>
        </li>
        <li class="rep-card">
          <a href="#" class="rep-card__box rep-card__def card-blue">
            <img src="./img/icons/tl_ic5.svg" alt="" />
            <div class="rep-card__bg"></div>
          </a>
          <div class="rep-card__content">
            <a href="#" class="title4">Звіт про діяльність фонду за 2023 рік</a>
            <button type="button" class="btn-def btn-hv2">Переглянути</button>
          </div>
        </li>
      </ul>
      <button type="button" class="btn-def btn-hv1">Всі Звіти</button>
    </div>
  </div>
</section>
