<section class="latestrep sec-pd">
  <div class="latestrep__container">
    <div class="heading-block">
      <div class="heading-block__inf">
        <h2 class="title2">ОСТАННІ ЗВІТИ</h2>
      </div>

      <ul class="cards-list">
        <li class="rep-card">
          <a href="#" class="rep-card__box ibg">
            <img src="./img/content/project1.jpg" alt="" />
          </a>
          <div class="rep-card__content">
            <a href="#" class="title4">Звіт про діяльність фонду за 2023 рік</a>
            <a href="#" class="btn-def btn-hv2">Переглянути</a>
          </div>
        </li>
        <li class="rep-card">
          <a href="#" class="rep-card__box rep-card__def card-blue">
            <img src="./img/icons/tl_ic5.svg" alt="" />
          </a>
          <div class="rep-card__content">
            <a href="#" class="title4">Звіт про діяльність фонду за 2023 рік</a>
            <a href="#" class="btn-def btn-hv2">Переглянути</a>
          </div>
        </li>
        <li class="rep-card">
          <a href="#" class="rep-card__box rep-card__def card-yellow">
            <img src="./img/icons/tl_ic2.svg" alt="" />
          </a>
          <div class="rep-card__content">
            <a href="#" class="title4">Звіт про діяльність фонду за 2023 рік</a>
            <a href="#" class="btn-def btn-hv2">Переглянути</a>
          </div>
        </li>
      </ul>

      <a href="./reports.html" class="btn-def btn-hv1">Всі Звіти</a>
    </div>
  </div>
</section>
