<section class="library">
  <div class="library__container">
    <div class="tenders__heading">
      <h2 class="title2">бІБЛІОТЕКА ФОНДУ</h2>
      <div class="filtercont">
        <button type="button" class="filter__open"></button>
        <div
          class="filter__item filter__type library__select"
          data-txt="Проєкт"
        >
          <div class="facetwp-facet facetwp-type-dropdown">
            <select class="facetwp-dropdown">
              <option value="Lecture" selected>Всі проєкти</option>
              <option value="Seminars">Семінари</option>
              <option value="Activities">
                Заходи Заходи Заходи Заходи Заходи Заходи Заходи Заходи Заходи
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="library__main">
      <div class="library__sidebar">
        <div class="library__filters">
          <div
            class="facetwp-facet facetwp-facet-reset facetwp-type-reset"
            data-name="reset"
            data-type="reset"
          >
            <button class="facetwp-reset facetwp-hide-empty">
              Скинути фільтри
            </button>
          </div>

          <div class="library__wrapp">
            <div class="library__part">
              <p>Формат</p>
              <div
                class="facetwp-facet facetwp-facet-test facetwp-type-checkboxes"
                data-name="test"
                data-type="checkboxes"
              >
                <div class="facetwp-checkbox" data-value="anonsy">
                  <span class="facetwp-display-value">Відео</span>
                  <span class="facetwp-counter">24</span>
                </div>
                <div class="facetwp-checkbox checked" data-value="zvity">
                  <span class="facetwp-display-value">Брошури</span>
                  <span class="facetwp-counter">257</span>
                </div>
                <div class="facetwp-checkbox checked" data-value="novyny">
                  <span class="facetwp-display-value">Буклети</span>
                  <span class="facetwp-counter">32</span>
                </div>
                <div class="facetwp-checkbox" data-value="anonsy">
                  <span class="facetwp-display-value">Плакати</span>
                  <span class="facetwp-counter">4</span>
                </div>
                <div class="facetwp-checkbox" data-value="anonsy">
                  <span class="facetwp-display-value">PDF Документи</span>
                  <span class="facetwp-counter">152</span>
                </div>
                <div class="facetwp-checkbox" data-value="anonsy">
                  <span class="facetwp-display-value">PDF Ілюстрації</span>
                  <span class="facetwp-counter">42</span>
                </div>
              </div>
            </div>

            <div class="library__part">
              <p>Мова</p>
              <div
                class="facetwp-facet facetwp-facet-lng facetwp-type-radio"
                data-name="lng"
                data-type="radio"
              >
                <div class="facetwp-radio" data-value="">
                  <span class="facetwp-display-value">Всі</span>
                  <span class="facetwp-counter">652</span>
                </div>
                <div class="facetwp-radio checked" data-value="uk">
                  <span class="facetwp-display-value">Українська</span>
                  <span class="facetwp-counter">480</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="library__content">
        <ul class="library__cards">
          <li class="libr-card">
            <div class="libr-card__box">
              <div class="libr-card__heading">
                <p>Брошури</p>
              </div>
              <div class="libr-card__img ibg">
                <img src="./img/content/ava1.jpg" alt="" />
              </div>
              <div class="libr-card__img rep-card__def card-red">
                <img src="./img/icons/library.svg" alt="" />
              </div>
              <div class="libr-card__review">
                <a href="#">Переглянути</a>
              </div>
            </div>
            <div class="libr-card__content">
              <a href="#" class="libr-card__name">
                Електронний бюлетень з питань репродуктивного здоров’я №41
              </a>
              <div class="libr-card__desc">
                <p>
                  Назва проєкту aute irure dolor in reprehenderit in voluptate
                  velit esse...
                </p>
              </div>
            </div>
          </li>
        </ul>

        <div class="pagination__cont">
          <div
            class="facetwp-facet facetwp-facet-pagination facetwp-type-pager"
            data-name="pagination"
            data-type="pager"
          >
            <div class="facetwp-pager">
              <a class="facetwp-page prev" data-page="1"><span></span></a>
              <a class="facetwp-page first" data-page="1">1</a>
              <a class="facetwp-page active" data-page="2">2</a>
              <a class="facetwp-page" data-page="3">3</a>
              <a class="facetwp-page dots">…</a>
              <a class="facetwp-page last" data-page="12">12</a>
              <a class="facetwp-page next" data-page="3"><span></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
