<section class="tender sec-pd2">
  <div class="tender__container">
    <div class="article">
      <div class="article__heading">
        <div class="proj-card__headline">
          <p class="itm-black">Прийом заявок до: <span>24.04.24</span></p>
          <p class="itm-red"><span>Активний</span></p>
        </div>
        <h1>
          Благодійна організація «Благодійний фонд «Здоров’я жінки і планування
          сім’ї» шукає виробників/постачальників зарядних станцій на умовах
          тендеру
        </h1>
      </div>

      <div class="article__main">
        <div class="article__sidebar"></div>
        <div class="article__content article__embeded">
          <h2>Загальні положення</h2>
          <b>
            Благодійна організація «Благодійний фонд «Здоров’я жінки і
            планування сім’ї» оголошує тендер на послуги на розробку та
            проведення інформаційної кампанії щодо підвищення обізнаності жінок
            про збереження репродуктивного здоров’я, доступу до безоплатних
            комплексних медичних послуг з репродуктивного здоров’я.
          </b>
          <p>
            Благодійна організація «Благодійний фонд «Здоров’я жінки і
            планування сім’ї» (далі –  «Організатор конкурсу») є провідною
            недержавною професійною організацією, яка у співпраці з державними
            партнерами та громадськими організаціями працює для підтримки
            громадського, сексуального та репродуктивного здоров’я, профілактики
            неінфекційних захворювань в Україні шляхом надання технічної
            підтримки відповідних програм, що впроваджуються по всій території
            України.
          </p>

          <h2>Інформація про проєкт, в рамках якого оголошено конкурс</h2>
          <p>
            БФ «Здоров’я жінки і планування сім’ї» в рамках
            українсько-японського проєкту «Посилення спроможності медичних
            закладів та покращення доступу до послуг з репродуктивного здоров’я
            для жінок у регіонах, що постраждали від руйнування Каховської ГЕС»,
            , що втілюється за підтримки Міжнародної федерації планування сім’ї
            (IPPF) та фінансової підтримки Уряду Японії реалізовує активності,
            які направлені на посилення спроможності закладів охорони здоров’я
            та медичних працівників надавати комплексні послуги з невідкладної
            акушерської допомоги та допомоги новонародженим; підвищення
            доступності послуг першої лінії підтримки та перенаправлення для
            постраждалих від сексуального та гендерно зумовленого насильства;
            підвищення обізнаності та попиту серед жінок та молоді на послуги з
            сексуального та репродуктивного здоров’я через обмін інформацією
            онлайн та наживо.
          </p>

          <h2>Інформація про тендер</h2>
          <ul>
            <li>
              Опис робіт/послуг та очікуваних матеріалів (продуктів), в тому
              числі необхідні технічні, якісні, кількісні та інші параметри
              визначені в Додатку № 1  «Технічне завдання».
            </li>
            <li>
              Період виконання робіт та надання послуг: до 31 грудня 2024 року.
            </li>
          </ul>

          <div class="article__download">
            <div class="download">
              <a
                href="./img/content/interpart7.png"
                class="download__link"
                download
              >
                <span class="download__txt">Прикріпленний файл: </span>
                <span class="download__icon">
                  <img src="./img/icons/download.svg" alt="" />
                </span>
              </a>
            </div>
          </div>

          <h2>Інформація про цінову пропозицію</h2>
          <ul>
            <li>
              Строк дії цінової пропозиції: цінова пропозиція повинна бути
              дійсна протягом 30  календарних днів.
            </li>
            <li>
              Термін надання послуг/виконання робіт: протягом 30 календарних
              днів з дати підписання договору
            </li>
            <li>
              Обов’язкові кваліфікаційні вимоги до постачальника послуг /
              виконавця робіт – право на здійснення підприємницької діяльності.
            </li>
          </ul>

          <h2>
            Документи, які підтверджують відповідність кваліфікаційним вимогам:
          </h2>
          <ul>
            <li>
              Підприємства (ТОВ, ПАТ, ПрАТ, ПП тощо) – копію Свідоцтва про
              державну реєстрацію
            </li>
            <li>
              Юридичної особи (для зареєстрованих до 07.05.2011 року, якщо їм не
              було видано Виписку) або копію Виписки з Єдиного державного
              реєстру юридичних осіб та фізичних осіб-підприємців, а також копію
              Витягу з Єдиного державного реєстру юридичних осіб та фізичних
              осіб-підприємців;
            </li>
            <li>
              Фізичної особи – підприємця (ФОП) на єдиному податку – копію
              Свідоцтва про державну реєстрацію (для зареєстрованих до
              07.05.2011 року, якщо їм не було видано Виписку) або копію Виписки
              з Єдиного державного реєстру юридичних осіб та фізичних
              осіб-підприємців, а також копію Виписки з Реєстру платників
            </li>
            <li>
              Єдиного податку та платіжки про сплату єдиного податку за
              попередній/поточний період;
            </li>
            <li>
              Фізичної особи – підприємця (ФОП) на загальній системі
              оподаткування – копію Свідоцтва про державну реєстрацію (для
              зареєстрованих до 07.05.2011 року, якщо їм не було видано Виписку)
              або копію Виписка з Єдиного державного реєстру юридичних осіб та
              фізичних осіб-підприємців.
            </li>
          </ul>

          <h2>Особливі умови</h2>
          <b>Учасники фактом участі у тендері:</b>
          <ul>
            <li>
              Визнають, що несуть відповідальність за достовірність наданої
              інформації та усвідомлюють репутаційні ризики, пов’язані з
              наданням недостовірних відомостей та послуг неналежної якості.
            </li>
            <li>
              Погоджуються з усіма умовами тендеру і зобов’язуються виконувати
              їх належним чином.
            </li>
          </ul>

          <h2>Правила оформлення тендерної пропозиції</h2>
          <b>До участі в оцінці допускаються тендерні пропозиції, які:</b>
          <ul>
            <li>
              Оформлені українською мовою у вигляді таблиці в Додатку № 2 «Форма
              цінової пропозиції»,
            </li>
            <li>Закріплені підписом та печаткою</li>
            <li>Вчасно надіслані електронною поштою</li>
          </ul>

          <div class="article__download">
            <div class="download">
              <a
                href="./img/content/interpart7.png"
                class="download__link"
                download
              >
                <span class="download__txt">Прикріпленний файл: </span>
                <span class="download__icon">
                  <img src="./img/icons/download.svg" alt="" />
                </span>
              </a>
            </div>
          </div>

          <h2>Критерії вибору переможців</h2>
          <ul>
            <li>
              Відповідність заявки потребі замовника та умовам тендерної
              документації.
            </li>
            <li>Раціональна фінансова пропозиція.</li>
          </ul>
          <p>
            Визначення переможців відбудеться після фінансової та технічної
            оцінки запропонованих пропозицій згідно з критеріями, які зазначені
            у Тендерній пропозиції. Переможці тендеру отримають електронні листи
            та/ або телефонні дзвінки з відповідною інформацією.
          </p>

          <h2>Cтроки на надання тендерної пропозиції</h2>
          <b>
            Цінові пропозиції просимо надсилати не пізніше 11 серпня 2024 року
            (до 23:59 за київським часом) за такими адресами:
          </b>

          <div class="article__email">
            <div class="contactus__box">
              <p>Анжеліка Мазньова:</p>
              <div class="contactus__copy copyBox">
                <button type="button" class="clipboard"></button>
                <a href="mailto:maznova@rhr.org.ua" class="copyElem">
                  maznova@rhr.org.ua
                </a>
              </div>
            </div>
            <div class="contactus__box">
              <p>Валерія Діденко</p>
              <div class="contactus__copy copyBox">
                <button type="button" class="clipboard"></button>
                <a href="mailto:vdidenko@rhr.org.ua" class="copyElem">
                  vdidenko@rhr.org.ua
                </a>
              </div>
            </div>
          </div>

          <p>
            Тема листа: «Тендер на послуги з розробки та проведення
            інформаційної кампанії».
          </p>
          <p>
            Для уточнення деталей щодо Технічного завдання, звертайтесь до
            Валерії Діденко, vdidenko@rhr.org.ua, 098 298 75 52
          </p>

          <h2>Додатками до цього оголошення є:</h2>

          <div class="article__download">
            <div class="download">
              <a
                href="./img/content/interpart7.png"
                class="download__link"
                download
              >
                <span class="download__txt">Прикріпленний файл: </span>
                <span class="download__icon">
                  <img src="./img/icons/download.svg" alt="" />
                </span>
              </a>
            </div>
            <div class="download">
              <a
                href="./img/content/interpart7.png"
                class="download__link"
                download
              >
                <span class="download__txt">Прикріпленний файл: </span>
                <span class="download__icon">
                  <img src="./img/icons/download.svg" alt="" />
                </span>
              </a>
            </div>
          </div>

          <p>
            БФ «Здоров’я жінки і планування сім’ї» працює відповідно до політики
            рівних  можливостей, тому наймає на роботу кваліфікованих фахівців з
            різних секторів  суспільства, незалежно від їх
            соціально-демографічних характеристик та  індивідуальних переваг.
          </p>
        </div>
        <div class="article__soc">
          <div class="article__soc-box">
            <p>Поділитись через:</p>
            <ul>
              <li>
                <a href="#" target="_blank" rel="noopener noreferrer">
                  <span><img src="./img/icons/artcl_soc1.svg" alt="" /></span>
                </a>
              </li>
              <li>
                <a href="#" target="_blank" rel="noopener noreferrer">
                  <span><img src="./img/icons/artcl_soc2.svg" alt="" /></span>
                </a>
              </li>
              <li>
                <a href="#" target="_blank" rel="noopener noreferrer">
                  <span><img src="./img/icons/artcl_soc3.svg" alt="" /></span>
                </a>
              </li>
              <li>
                <a href="#" target="_blank" rel="noopener noreferrer">
                  <span><img src="./img/icons/artcl_soc4.svg" alt="" /></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
