<section class="tender sec-pd2">
  <div class="tender__container">
    <div class="article">
      <div class="article__heading">
        <div class="proj-card__headline">
          <p class="itm-black">Прийом заявок до: <span>24.04.24</span></p>
          <p class="itm-red"><span>Активний</span></p>
        </div>
        <h1>
          Благодійна організація «Благодійний фонд «Здоров’я жінки і планування
          сім’ї» шукає виробників/постачальників зарядних станцій на умовах
          тендеру
        </h1>
      </div>

      <div class="article__main">
        <div class="article__sidebar"></div>
        <div class="article__content embeded">
          <h3>Загальні положення</h3>
          <h4>
            Благодійна організація «Благодійний фонд «Здоров’я жінки і
            планування сім’ї» оголошує тендер на послуги на розробку та
            проведення інформаційної кампанії щодо підвищення обізнаності жінок
            про збереження репродуктивного здоров’я, доступу до безоплатних
            комплексних медичних послуг з репродуктивного здоров’я.
          </h4>
          <p>
            Благодійна організація «Благодійний фонд «Здоров’я жінки і
            планування сім’ї» (далі –  «Організатор конкурсу») є провідною
            недержавною професійною організацією, яка у співпраці з державними
            партнерами та громадськими організаціями працює для підтримки
            громадського, сексуального та репродуктивного здоров’я, профілактики
            неінфекційних захворювань в Україні шляхом надання технічної
            підтримки відповідних програм, що впроваджуються по всій території
            України.
          </p>

          <h3>Інформація про проєкт, в рамках якого оголошено конкурс</h3>
          <p>
            БФ «Здоров’я жінки і планування сім’ї» в рамках
            українсько-японського проєкту «Посилення спроможності медичних
            закладів та покращення доступу до послуг з репродуктивного здоров’я
            для жінок у регіонах, що постраждали від руйнування Каховської ГЕС»,
            , що втілюється за підтримки Міжнародної федерації планування сім’ї
            (IPPF) та фінансової підтримки Уряду Японії реалізовує активності,
            які направлені на посилення спроможності закладів охорони здоров’я
            та медичних працівників надавати комплексні послуги з невідкладної
            акушерської допомоги та допомоги новонародженим; підвищення
            доступності послуг першої лінії підтримки та перенаправлення для
            постраждалих від сексуального та гендерно зумовленого насильства;
            підвищення обізнаності та попиту серед жінок та молоді на послуги з
            сексуального та репродуктивного здоров’я через обмін інформацією
            онлайн та наживо.
          </p>

          <h3>Інформація про тендер</h3>
          <ul>
            <li>
              Опис робіт/послуг та очікуваних матеріалів (продуктів), в тому
              числі необхідні технічні, якісні, кількісні та інші параметри
              визначені в Додатку № 1  «Технічне завдання».
            </li>
            <li>
              Період виконання робіт та надання послуг: до 31 грудня 2024 року.
            </li>
          </ul>

          <h3>Nostrud exercitation ullamco</h3>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <h3>Ut enim ad minim veniam</h3>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>

          <h3>Nostrud exercitation ullamco</h3>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <h3>Ut enim ad minim veniam</h3>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>

          <h3>Nostrud exercitation ullamco</h3>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <h3>Ut enim ad minim veniam</h3>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>

          <h3>Nostrud exercitation ullamco</h3>
          <p>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div class="article__soc">
          <ul>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <span><img src="./img/icons/artcl_soc1.svg" alt="" /></span>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <span><img src="./img/icons/artcl_soc2.svg" alt="" /></span>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <span><img src="./img/icons/artcl_soc3.svg" alt="" /></span>
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <span><img src="./img/icons/artcl_soc4.svg" alt="" /></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
