<section class="businspartn sec-pd1">
  <div class="businspartn__container">
    <div class="partnblock">
      <h2 class="title2">партнери - бізнеси</h2>

      <div class="partnblock__wrapp">
        <ul class="partnblock__list">
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/businspartn1.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/businspartn2.png" alt="" />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
