<section class="interpart sec-pd1">
  <div class="interpart__container">
    <div class="partnblock">
      <h2 class="title2">Міжнародні партнери</h2>

      <div class="partnblock__wrapp">
        <ul class="partnblock__list">
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/interpart1.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/interpart2.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/interpart3.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/interpart4.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/interpart5.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/interpart6.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/interpart7.png" alt="" />
            </div>
          </li>
        </ul>
      </div>

      <div class="pagination__cont">
        <div class="facetwp-pager"></div>
      </div>
    </div>
  </div>
</section>
