<section class="ukrpartn">
  <div class="ukrpartn__container">
    <div class="partnblock">
      <h2 class="title2">Українські партнери</h2>

      <div class="partnblock__wrapp">
        <ul class="partnblock__list">
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn1.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn2.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn10.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn8.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn3.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn4.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn5.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn6.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn7.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn8.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn9.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn10.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn9.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn8.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn9.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn10.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn1.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn8.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn9.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn10.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn12.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn8.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn9.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn3.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn12.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn8.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn9.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn10.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn7.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn12.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn8.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn9.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn10.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn5.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn8.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn9.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn10.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn2.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn12.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn8.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn7.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn10.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn12.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn2.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn9.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn10.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn5.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn12.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn8.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn4.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn10.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn12.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn8.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn9.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn10.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn3.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn12.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn8.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn9.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn10.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn12.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn8.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn9.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn10.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn2.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn12.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn8.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn9.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn10.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn12.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn8.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn9.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn10.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn1.png" alt="" />
            </div>
          </li>
          <li class="partnblock__item">
            <div class="partnblock__box">
              <img src="./img/content/ukrpartn12.png" alt="" />
            </div>
          </li>
        </ul>
      </div>

      <div class="pagination__cont">
        <div class="facetwp-pager"></div>
      </div>
    </div>
  </div>
</section>
